[2018-07-14 16:31] NISH1001 opened #2 "No module named `playlist`"
@deepjyoti30
The new commit for playlist breaks the code. There's no module named `playlist`. Can you fix it?
Other than that, it was working 1 commit back.

[2018-07-14 16:36] deepjyoti30 commented on #2
Please merge the PR.

[2018-07-14 16:54] NISH1001 commented on #2
I have made a few minor refactor. Do pull the latest develop branch.

[2018-07-14 16:54] #2 closed

[2018-07-16 05:04] mirzazulfan opened #4 "Propose Logo/Icon"
Hi @NISH1001 . I'm a graphic designer and an open source enthusiast. I would like to contribute to your awesome project by proposing logo design.  I'll be doing it as a gift for free to your awesome project. this is my design, what dou you think? if you have an idea please share with me. Thanks.
Best Regard.
Mirza Zulfan
![playx](https://user-images.githubusercontent.com/36124339/42743690-475413b6

[2018-07-16 05:20] NISH1001 commented on #4
Hi,
This is cool. I appreciate your effort. Woah! Those are neat logos there. Awesome.
I loved the 2nd logo in the right column. It is neat.
Thanks.

[2018-07-16 05:21] NISH1001 commented on #4
Please send a pull request with the logo in the README file. It is awesome.

[2018-07-16 05:39] mirzazulfan commented on #4
Hi again, @NISH1001 .. im glad you liked it, this one ?
![3](https://user-images.githubusercontent.com/36124339/42744209-debe2f94-88f4-11e8-88eb-7a3ccafd074d.png)
I'll send a pull request and upload the files.

[2018-07-16 07:31] NISH1001 commented on #4
Hi,
Yeah. This looks neat - that search (and play icon) with the word.
How good will it be if we use that "search and play" icon as the letter "P" itself? I don't have much design sense though! Just being curious.
Looking forward to your pull request.

Thanks.

[2018-07-16 08:10] mirzazulfan commented on #4
Thank for your feedback @NISH1001 . :+1: . .
![4](https://user-images.githubusercontent.com/36124339/42748411-528d02be-890a-11e8-8582-a56b482580b1.png)

[2018-07-16 09:05] NISH1001 commented on #4
Yeah! I think we can drop that dedicated search icon in the beginning and just use the "P" with the same icon. I looks great from my side though. :)

[2018-07-16 13:35] mirzazulfan commented on #4
Okay @NISH1001 .. i''ll send you files and pr.
![42751497-27056900-8915-11e8-8da7-e1455698f350-1](https://user-images.githubusercontent.com/36124339/42761225-704f3eba-88fc-11e8-9487-896d3763899a.png)

[2018-07-16 14:30] NISH1001 commented on #4
Awesome. Thanks, man! Do send a PR. I will see and merge accordingly.

[2018-07-17 04:39] #4 closed

[2018-07-17 06:33] mirzazulfan commented on #4
Hi again @NISH1001 .. Here's your [files](https://drive.google.com/drive/folders/1JIaSfodfZro2RN8yjes7tDz9Hwsaiu2A?ogsrc=32) . If you need anything change in the future, dont hesitate to cantact me. Email : mirzazulfan@gmail.com. I am glad to help your awesome project. Have a nice day.

[2018-07-17 10:50] NISH1001 commented on #4
Thanks Man!

[2018-07-17 11:11] mirzazulfan commented on #4
You're welcome sir. :)

[2018-07-21 07:39] deepjyoti30 opened #7 "Add fuzzywuzzy.py"
[code]

[2018-07-21 07:57] #7 closed

[2018-07-21 08:03] NISH1001 commented on #7
that is a 3rd party module called `fuzzywuzzy`. It is in requirements.txt. Nevertheless, I haven't used that module. I have done a simple `jaccard similarity` measure to match the songs.

[2018-07-27 17:30] heyitswither opened #10 "Remove --name and --url, make positional arg"
--name and --url will be replaced with a single positional argument. Regex will be used to determine whether this is a search for a video name or a video url. I will submit a pull request with these changes soon.

[2018-07-28 03:08] NISH1001 commented on #10
H,
That sounds good. I was also planning to merge those two things into a single argument. I will check the PR. Thanks.

[2018-07-28 16:49] heyitswither opened #13 "grab_link() fails when (-u|--url) is used"
[code]

[2018-07-28 16:51] heyitswither commented on #13
This will probably be fixed with #10, but I thought I should make sure you know.

[2018-07-28 17:58] heyitswither opened #15 "stream fails at get_youtube_streams() (possibly because of missing audio)"
[code]

*In case you were wondering, I was wanting Confusion by ELO, not "Writing Tool For Students"*

I haven't been able to reproduce this or find the video it was trying to play ("Writing Tool For Students"), but it from what I can tell it looks like the video has no audio, which causes the error.

[2018-07-28 19:17] heyitswither opened #16 "Add support for other sites besides youtube"

[2018-07-28 21:53] heyitswither opened #17 "Fails if search comes back with no results"
*(note: this is with #14 merged, only difference is command usage)*

[code]

I would like to be assigned for this one.

[2018-07-29 01:37] NISH1001 commented on #13
Okay. I will look into it.

[2018-07-29 01:39] NISH1001 commented on #15
This is an interesting case. I hadn't thought of videos without audio because every song has audio.

[2018-07-29 01:43] NISH1001 commented on #16
For now, should focus on youtube and streamlining the search and existing features. Next might be soundcloud but it might take a long time.

[2018-07-29 01:43] #16 closed

[2018-07-29 02:17] #10 closed

[2018-07-29 02:18] NISH1001 commented on #13
This has been fixed. I have created a simple function that fetches the title using the url.

[2018-07-29 02:18] #13 closed

[2018-07-29 02:35] NISH1001 commented on #17
I assume this has been resolved in the latest PR.

[2018-07-29 02:35] #17 closed

[2018-07-29 04:15] #15 closed

[2018-07-29 05:05] heyitswither opened #21 "cached songs aren't always recognised"
[code]

Band on the Run and Angel both play from the cache.

[code]

Mr. Blue Sky and Don't Fear the Reaper don't use the cached files and instead download the file again.

[code]

Only differences I can see between these files is the parentheses in the file names.

EDIT: The songs use cache if I use `mr. blue sky` (note the period) and `the reaper` (text not inside parens).

[2018-07-29 05:09] deepjyoti30 commented on #21
Probably need to make the search better. That happens for me in one or two songs too.

[2018-07-29 08:32] deepjyoti30 commented on #21
@heyitswither Made some changes to the search algo. I think it will work all right now. I have made a PR but you can try with my fork of playx [here](https://github.com/deepjyoti30/playx)

[2018-07-29 11:18] NISH1001 commented on #21
I know sometimes it doesn't work. But we can use fuzzy search or threshold-based search. I have seen a PR from @deepjyoti30 , I have to see it seriously before merging them.
I am looking into this matter. Let's discuss on this thread for now regarding what improvements can be done on the search part.

[2018-07-29 11:30] NISH1001 commented on #21
@deepjyoti30  fuzzy match doesn't guarantee (as far as  I have tried on many rigorous tests). Let's see if we can improve it.
I will look into your PR and see the preprocessing part.

[2018-07-29 11:31] deepjyoti30 commented on #21
@NISH1001 I have not made much changes in the search except what you have already pointed out. My PR mainly has the addition of param changes.

[2018-07-29 12:00] NISH1001 commented on #21
@deepjyoti30  I have merged the PR. Thanks for that PR.

[2018-07-29 12:08] deepjyoti30 opened #23 "[Discussion]Curses for lyrics"
@NISH1001 I think we need to show the lyrics in a curses window. Howeve playing mpv along with the windows makes the window useless. I have the curses window ready, however either we need to change mpv or force it to play in the background.
Playing mpv in the background is possible by disowning the process, however opening the curses window with the same python process is making the window useless

[2018-07-29 15:08] NISH1001 commented on #23
Hi @deepjyoti30 , I was browsing, I found this thread:
https://www.reddit.com/r/learnpython/comments/66vwux/i_made_a_console_media_player_using_curses/

Yes! Sure please share the changes on your fork and let me try that and see if I can do anything there.

[2018-07-29 16:14] NISH1001 opened #24 "Making arguments to CLI less complex."
This is just a **food-for-thought** issue to discuss on how we should stop making the CLI cluttered. Let's not add any new arguments for now. I will refactor the code and make it more modular soon.
Just in case everyone is wondering, there are 2 new arguments introduced by @deepjyoti30 , whose PR has been merged and I agree why those are needed. So, before adding any new complexity to the CLI itse

[2018-07-29 16:39] deepjyoti30 commented on #24
@NISH1001 Sorry about that bug.  I don't think we need to add anything more.

[2018-07-29 18:19] heyitswither commented on #24
@NISH1001 I think the newly added options are good, I don't have anything else to add (yet).

[2018-07-30 16:31] deepjyoti30 commented on #24
I think we need to stop using command line outputs and directly use the API of mpv and youtube-dl.
I am currently experimenting with the python-mpv module.

[2018-07-31 01:32] NISH1001 commented on #24
@deepjyoti30  cool. Do send screenshots of the progress. In the long run, we ought to have our own simple music player interface.

[2018-07-31 02:55] NISH1001 commented on #23
@deepjyoti30  I have found this
https://github.com/jaseg/python-mpv

I think we can use this.

[2018-07-31 03:00] NISH1001 commented on #23
`python-mpv` works.
We can directly play from a python script just like we do from CLI.
I think we can use this along with curses.
I will update this thread once I am onto something here.

[2018-07-31 03:03] deepjyoti30 commented on #24
@NISH1001 yeah thats what i was talking about. I have it working all right except that when i use this module the script doesn't exit. I don't know if its just me. Please try to play a basic song(by a script) and tell me if that happens. Other than that i will push all the changes to the testing beanch of my fork of playx.
BTW, don't ypu think we should have a curses window only for the lyrics, ot

[2018-07-31 03:04] NISH1001 commented on #23
[window.zip](https://github.com/NISH1001/playx/files/2243613/window.zip)
Here's a very naive script.

[2018-07-31 03:04] deepjyoti30 commented on #23
@NISH1001 yeah thats what i was talking about. I have it working all right except that when i use this module the script doesn't exit. I don't know if its just me. Please try to play a basic song(by a script) and tell me if that happens. Other than that i will push all the changes to the testing beanch of my fork of playx.
BTW, don't ypu think we should have a curses window only for the lyrics, ot

[2018-07-31 03:09] NISH1001 commented on #23
Yeah. But doing curses for lyrics takes us to square one, I guess. Like we have sub-window for lyrics. But where will the player information (and control) reside since mpv has a very neat interface for play/pause/fast-forward etc. I was thinking of creating two spllited window one where player resides and other where lyrics resides. It might be that, maybe I am overthinking on this. What do you th

[2018-08-01 16:33] NISH1001 commented on #23
@deepjyoti30  Yeah! I think so. For me, it was pretty okay without the need for another layer of curses or interface to lyrics. Just a single flag worked for me to whether fetch the lyrics or to not to. :D
Let's drop this issue of curse for now. No need to add curses.  :P

I am working on redesigning the architecture (on papers) for plug-and-play type so that new services like youtube, SoundCloud

[2018-08-01 16:38] deepjyoti30 commented on #23
@NISH1001  That sounds good. I think the logging thing is good, recommendations would be a good feature. Also, i am trying to make the mpv module work. Currently it plays, pauses the song all right but after i quit the script just freezes. Don't know if its the issue with me.
I have uploaded the files to [testing](https://github.com/deepjyoti30/playx/tree/testing) branch. Please clone it and try t

[2018-08-02 14:43] #24 closed

[2018-08-02 14:44] #21 closed

[2018-08-08 05:00] #23 closed

[2018-08-20 23:16] Mattwmaster58 opened #25 "convert to package"
It'd be great to get this thing turned into a package

[2018-08-22 01:34] #25 closed

[2018-08-22 01:52] NISH1001 opened #27 "Upload to test pypi"
@deepjyoti30  @heyitswither  @Mattwmaster58

I have uploaded the playx to test pypi. Here:
https://test.pypi.org/project/playx/

Let me know if pip install works seamlessly. And I will create a first release of playx and upload it to real pypi.

Cheers...

[2018-08-22 15:40] deepjyoti30 commented on #27
@NISH1001 pip showed that it was not able to find playx. I installed using the setup.py file and its working all right.

[2018-08-22 15:42] deepjyoti30 opened #28 "[Feature request] Add playlist support"
Most of the times when i was using playx i felt the need of  playlist support so  i added a little script to my fork [here](https://github.com/deepjyoti30/playx/tree/testing). If you want i can add a flag to pass a playlist. I really think it is one of the more essential features. Do think about it.

[2018-08-22 18:47] Mattwmaster58 commented on #27
@deepjyoti30 Worked fine for me

[2018-08-22 19:03] Mattwmaster58 commented on #27
@NISH1001 it looks like you didn't upload requirements.txt. When I install I get this:` FileNotFoundError: [Errno 2] No such file or directory: 'requirements.txt'`

[2018-08-23 14:42] NISH1001 commented on #28
Okay! I will look into it.

[2018-08-27 16:05] NISH1001 commented on #27
@Mattwmaster58 ,
The problem was due to the loading of the requirements and license files in `setup.py`. For now, it is resolved by not being dependent on the requirements.txt file.

[2018-08-27 16:05] #27 closed

[2018-08-27 16:09] NISH1001 commented on #28
@deepjyoti30 ,
I think it is a good idea to use the playlist. But, I am thinking of using more dynamic playlist like where songs can be added in runtime seamlessly. Have to think of this in a proper way. A pre-loaded text file (with each line representing the song's name) might work but I am planning to do something more dynamic and flexible like adding any songs to the playx even if it is already

[2018-08-28 15:21] deepjyoti30 commented on #28
We can play the song in the bg and open a prompt. It will take commands like p(play/pause), add <song_name>, remove etc. This prompt will be in app. What do you say?

[2018-09-09 04:27] NISH1001 commented on #28
Hi,
I will consider it in future updates. For now, I think i am happy for what playx has turned to be today! My laptop has been fried due to high voltage and the code (and changes) has been compromised now. So, I am closing this thread for future.

[2018-09-09 04:27] #28 closed

[2018-12-13 04:54] NISH1001 opened #30 "[Bug] Issue in playing song directly from a youtube url"
It seems there's a bug in the parser or code logic when we are to play from a youtube url.
**Example**
[code]
This song is "The sound of silence" which is already in my cache. However, `playx` is not playing the song from cache but from youtube steam itself.

I am not sure if the parser is working correctly for the youtube url or there's some failure in the internal logic of execution.

[2018-12-13 04:59] NISH1001 commented on #30
Or was it intended to "ignore" the cache part? Seems like that way from the code execution!

[2018-12-13 07:30] deepjyoti30 commented on #30
Just checked. Its not disabled but the search algo is weak.
We are trying to get exact match of the keywords which is whats stopping from getting the song.

In the ```check_keywords``` function in stringutils.py we are trying to get a tuple of word matches and then we simply check if the number of true matches is equal to the number of words present in the search name passed. This is whats creatin

[2018-12-13 07:49] deepjyoti30 commented on #30
It should be fixed now. Made a PR.

[2018-12-13 13:15] NISH1001 commented on #30
Thanks I'll check it out soon.

[2018-12-13 14:03] NISH1001 commented on #30
@deepjyoti30  Thanks. That patch worked like a charm.

[2018-12-13 14:03] #30 closed

[2018-12-14 01:55] NISH1001 opened #32 "Release: First release of playx"
After doing few major testing on functionalities, I will try to do the first release for `playx`.
During that I will also merge the current develop to master if the code is stable enough!

@deepjyoti30  If there are some issues you encountered from your side, please let's continue the conversation in this thread!

[2018-12-14 06:16] deepjyoti30 commented on #32
I haven't really faced any issues. Just that the output can be made better for a stable release.
For me, when i play a song the data that is shown looks really messy. A lot of that probably comes from that huge youtube audio link, i think it shouldn't be shown in the output.
Other than that i think we should add a logger because that would help us debug better.
Also you have mentioned adding a fea

[2018-12-14 07:08] deepjyoti30 commented on #32
I was just wondering we can also add support for billboard charts. Like if the name passed is any of the billboard charts name then all the songs in that chart will be played one by one. How about that?

[2018-12-14 11:57] NISH1001 commented on #32
Regarding the output, yeah I also feel like stripping many output (although keeping MPV more verbose regarding seek, volume, etc).

Regarding the song suggestion, my original intention was to use a very naive machine learning (doesn't even have to be ML) by analyzing the log activities of songs played and then suggesting the songs based on certain time. Example: If I play songs from Nirvana, Opeth

[2018-12-14 12:02] NISH1001 commented on #32
**About Logger**:
Do you have already done the logging in your repo `ytdl`?

[2018-12-14 12:07] deepjyoti30 commented on #32
I haven't added a logger.  Though i added Billboard support. Actually i already had made a simple API to access Billboard charts so i used it to get the data inside playx. Its working all right now. It was just a simple addition. I think you can add the billboard feature in the first release.
Suggestion sound good to me the way you mentioned. But  we need to make it better with time though.

[2018-12-14 12:09] deepjyoti30 commented on #32
I think we can simply create a file in the .playx folder that would save song names. Like we can make playx write the name of the song to the file before playing the song. Later we can use those names as input for the learning algo for suggestions. How about that?

[2018-12-14 12:15] NISH1001 commented on #32
Actually, I have done the same for my bash session (and commands). Hooked some bash command to bashrc and then it has been logging my history daily. Meanwhile, I was able to create some bash completion engine using markov models along with some habit analyzer.

Maybe we can do similar stuff! Like just direcly throwing anything that has been send to playx via cli.
Or even better, as you mentioned,

[2018-12-14 12:17] NISH1001 commented on #32
Let's do the conceptualization currently without coding. Maybe we might be able to come up with an intuitive solution for hooking the logging part into it!
(I am kind of like a slow thinker :) )

[2018-12-14 12:57] deepjyoti30 commented on #32
I also think we should add a option to let the users choose the media player. Like mpv, mpd plays pretty much the same way and mpc actually makes it better. We can ask the user to select a player in the begining or simply read from a config file stored in .config.

[2018-12-15 02:53] NISH1001 commented on #32
I have updated the cache directory to `~/.playx/songs` because we will add `~/.playx/logs` for logging and might able to add config.json too...

[2018-12-16 10:10] NISH1001 commented on #32
I have to refactor the whole code before doing all the config stuff.

[2018-12-16 10:14] deepjyoti30 commented on #32
What options are you going to add to config to be changed?? Why do you need to refactor everything??

[2018-12-16 11:30] NISH1001 commented on #32
#### About Improvement in the Code
These are the views from my side:
- The parser for song, playxlist, youtubeplaylist, billboard can be unified
- we can remove some intermediate function calls to remove the dependency of going down the rabbit hole
- we can create a singleton object of type `Playx` that handles the parsing and running the program according to config. This might be more approachabl

[2018-12-31 14:24] deepjyoti30 opened #36 "Make a different directory for playlist related files."
@NISH1001 I am currently working to add support for spotify playlists. I think there are already many files in the playx directory and so we should have a different directory for the playlist related functions.
I also have plans to support other playlists like from soundcloud etc.
Do share your views on that. I think we should have different modules for each playlist type and one main playlist fil

[2018-12-31 14:33] NISH1001 commented on #36
I was thinking of creating an abstract playlist class and then deriving subsequent classes from that. That way we will have some consistent interfaces for each subclass. Maybe we can create a package named `playlist` or just keep on creating subclasses in the `playlist.py`.

[2018-12-31 14:34] NISH1001 commented on #36
@deepjyoti30  I in fact was doing the refactoring using the inheritance. But broke some functionalities. So, discarded the changes (few weeks back).

[2018-12-31 14:42] deepjyoti30 commented on #36
@NISH1001 I think we should create a different package named playlist and dump all the playlist support stuff there.?

[2018-12-31 15:52] NISH1001 commented on #36
We should use common interface for every playlist. It's fine to dump other playlist as an individual module/file. But let's keep a common interface for every playlist. That way in future, we can create a "process" pipeline and just keep on adding objects of playlist to that list and the main method will just process that pipeline.

Like:
`[playxplaylist, youtubeplalyst, billboardplaylist, spotifyp

[2019-01-01 02:35] NISH1001 commented on #36
@deepjyoti30  Thanks. Seems good. I have merged. Wrapping into an object is better since the logic was being cluttered in `main.py`. Still, we should work on inheritance since most of the logic seems to be duplicated. The classes `SoundcloudSong`, `SpotifySOng`, I think, can be represented by single class that can me `SongMetadata` because those classes were identical.

Here are things we can do:

[2019-01-01 05:45] deepjyoti30 commented on #36
Yeah i think we can inherit the _is_vaild part from a base class defined in playlist.

Also regarding metadata storage, i think we can make a base class and inherit other from it.

Btw SoundCloud will work a bit differently then others because soundcloud songs are mostly not found in youtube, thus it uses the API to get direct stream links of the songs.
I will try to download the songs by using th

[2019-01-01 08:01] NISH1001 commented on #36
@deepjyoti30
Maybe [this script](https://github.com/NISH1001/myscripts/blob/master/bin/sc.py) can help?
I had created this years ago according to my need. It uses soundcloud api but requires access token.

[2019-01-01 09:37] deepjyoti30 commented on #36
@NISH1001 The playing the song structure was really getting very complicated so i created a class named Player that does all that. I will push it soon after my testing is done. Do give it a try, i think its important to have a different player class.

Regarding the soundcloud dowloading, i already have extracted the stream_url and download_url but the thing is i need to change the download functio

[2019-01-02 04:39] NISH1001 commented on #36
@deepjyoti30 I have merged the PR. One suggestion: Please keep the code according to PEP-8 style.

I will soon refactor the codebase! That will my target for a month or two.

There's also an issue related to playing this [youtube playlist](https://www.youtube.com/playlist?list=PLwg22VSCR0W7Fg-WL5UFhCnS99YeNCvCH)

Maybe it's only for me or a bug in the code!

[2019-01-02 10:40] deepjyoti30 commented on #36
@NISH1001 Fixed that issue.

[2019-01-02 14:37] NISH1001 commented on #36
@deepjyoti30  okay cool! Working now!

[2019-01-02 14:37] #36 closed

[2019-01-02 18:47] deepjyoti30 opened #42 "Logger Bug"
@NISH1001 The logger is throwing up a bug. If you check your recent file logs you will see only the cache module there.
 Though in the console its showing everything all right.
This is happening because we are using two handlers.
One namely the ```conosle``` (check the code) and the other is the filehandler that is created by using ```basicConfig()```.
However ```basicConfig()``` doesn't change th

[2019-01-02 21:42] deepjyoti30 commented on #42
@NISH1001 I was able to fix the issue partially.
I have explained the issue [here](https://github.com/deepjyoti30/playx/commit/d10d128c722e88bbb565250cc002f4eaed6f2d10)

[2019-01-03 05:20] deepjyoti30 commented on #42
Actually everything us done properly except that the name of the module calling it is wrong so i guess it wouldn't effect the song recommendations 😅.
Though we still need to fix the bug.

[2019-01-05 03:06] NISH1001 opened #44 "[Bug] Issue while passing playx playlist"
When a local playlist with extension `.playx` is passed, there's always this message:
[code]

@deepjyoti30  there might be an inherent bug in the function `_is_valid()`. The default values should have been taken.

[2019-01-05 06:32] deepjyoti30 commented on #44
@NISH1001 Sorry, i made a mistake. We need to change line 72 and 76 in playlistbase from ```else``` to ```elif not self.is_valid_start``` and ```elif not self.is_valid_end```.
This should fix the issue.

[2019-01-07 03:16] #42 closed

[2019-01-08 14:19] NISH1001 commented on #32
@deepjyoti30 Are there any bugs in playlist functionalities? I am planning to do a major release this week.
Following are the things I have observed:
- logger seems to working fine
- youtube crawling is good enough (for now)
- billboard seems to be fine while testing

I think if there are no any other issues regarding different playlists modules, we are good to release this week. In the process, I

[2019-01-08 14:21] NISH1001 commented on #32
Adding on top of previous comment, our next major release will be an overhaul to the overall code and architecture. Like making a good architecture for **plug and play** modules. That will be good for any other features to be added in some (near or far) future.

[2019-01-08 14:24] deepjyoti30 commented on #32
I think playlists are working good.
Soundcloud songs are mostly not available on youtube so i the extractor also extracts a soundcloud URL to stream however those URL's are really slow. I don't know if its just me but every time i stream from them, they always pause after a few seconds and again start playing.

Other playlists are working fine. I think i will stop adding album name to gaana playli

[2019-01-08 14:32] deepjyoti30 commented on #32
@NISH1001 About the changes to code, i think we need to organize stuff in the stringutils and cache files and others that were defined in the beginning and have not been changed much. I think the playlist files are
okay. Also what do you think about the player?
I think its better than the way we used earlier like checking everything in main.

[2019-01-08 14:34] NISH1001 commented on #32
@deepjyoti30 Sure. First let me review everything. :D
Trying to refactor code. The project has grown large. I still haven't tested other playlists. I will get back to this thread once I test all the playlists modules.

[2019-01-08 16:01] NISH1001 commented on #32
@deepjyoti30  can you test the all the playlist modules for any type of bugs. I have implemented a simple auto playlist. I will do Markov Chain based generation in upcoming days.
For now, the simple auto-playlist can be found [here](https://github.com/NISH1001/playx/tree/auto-playlist). You can try it out and let me know in this thread. I will do more state machine based playlist in upcoming days.

[2019-01-08 16:44] deepjyoti30 commented on #32
@NISH1001 Just checked.
Its good but i don't think thats what you wanted to do.
Also will it always recommend the songs that are already played or other songs too? Like you can try to suggest related songs by getting song data from some API?

How would the release version of the auto playlist work like.?
I mean i don't think it will be a good idea to write to an .playx list and read from them so w

[2019-01-09 02:44] NISH1001 commented on #32
@deepjyoti30  Yes it's just a Proof-of-Concept. However I will not be using any API for now. That will create too much dependencies on the 3rd party.
Regarding `playxlist`, there isn't any interface in current implementation for providing a list of song names. It's using file to directly parse it. Hence, for prototyping I directly wrote to the file. We should do something about this. Maybe we can

[2019-01-09 05:36] NISH1001 commented on #32
@deepjyoti30  I will think about that. Although concept sounds good enough, it will divert the mind from focusing on the main algorithm. We might not need that for now, at least what I have in my mind. First I have to refactor the whole codebase. It's getting messier. There are many places where code need refactoring. I think I will focus on that for now.

[2019-01-09 05:38] NISH1001 commented on #32
If everything is working fine, I will do the next release this week. Still, haven't allocated time to test the other playlist modules. But I will surely test them.

[2019-01-09 05:43] deepjyoti30 commented on #32
@NISH1001  Can you tell me where the code is messy? I mean i think the playlist files are clean. Just tell me and i will try to make changes.

[2019-01-09 05:44] deepjyoti30 opened #51 "Discussion: Song suggestion algorithm"
@NISH1001 I was thinking about an algorithm to suggest new songs to user.

Heres what we can do.

We extract the most played songs from the logs.
We strip the list to maybe just 5 most played songs.

 - Take each song from the list.
    - Get the artist name and album name (will use some API).
    - Get other songs present in that album and the best songs by the artist.
    - Now we feed this song

[2019-01-09 05:46] NISH1001 commented on #32
The code where we are trying to fix the start and end marker. It can be made much cleaner, shorter. Too much of code there. Can you try to make changes there? I think, it needs refactoring. Other than that, I will let you know more code reviews so that we will be able to finalize the codebase for the upcoming release.

[2019-01-09 05:48] deepjyoti30 commented on #32
@NISH1001 You mean the one where we strip the playlist according to the passed pl-end and pl-start arguments? Will do that.

[2019-01-09 06:06] NISH1001 commented on #51
That sounds good enough. This might one approach. Using external API.
**About getting artist name and album name**
How about we do this during fetching song whenever they are played for the first time. The metadata can hold those names and we can dump the metadata to some kind of JSON or simply attach those metadata to the file itself. This might be better since we can't fetch artist and song name

[2019-01-09 06:07] NISH1001 commented on #51
@deepjyoti30  remember we will not incorporate the recommendations and auto playlist in the upcoming release. That will be another "major" release. Make sure you inherit the `AbstractAutoplaylist` to create any type of subsequent auto-generated playlists.

[2019-01-09 06:09] NISH1001 commented on #32
@deepjyoti30  Yeah. I find the code messy. It can be improved. Similarly, try refactoring other code in playlist modules too. I will create another thread for refactoring the code. We can move the conversation there.

[2019-01-09 06:10] deepjyoti30 commented on #51
@NISH1001 I can get the metadata, i already have algos written for that in ytmdl.
But storing them within the songs will take a hell lot of space. The songs we stream are usually like 3mb but with metadata embedded they would go really high. We should simply log the names with the song name.

[2019-01-09 06:14] NISH1001 commented on #51
@deepjyoti30 if that's the case, then we can store the metadata to a JSON file instead of normal logs. That will be much efficient in r/w operations. However, my concern is to refactor the codebase first instead of adding these features. Maybe, this should be done for later time. Just a thought. So much to refactor in the code. I will let you know if anything comes up in refactoring of other playl

[2019-01-09 13:39] deepjyoti30 opened #53 "Quit playlist in between."
@NISH1001 I have noticed this for a while. Since we are using mpv to play, while it plays, it blocks the console.
In case we need to quit the playlist or lets just say stop playx, we have to interrupt by Alt+C.
I tried disowning mpv after the song starts playing and doing that from a different thread but those doesn't work.
You might want this fixed before the final release.
I am currently looking

[2019-01-09 13:54] NISH1001 commented on #53
Yes. I have been noticing that too. I will normally do repeated **ctrl+c** to quit. I think we can catch `KeyboardInterrupt` signal and send a kill command to mpv process. Let me see if it works.

[2019-01-09 14:11] deepjyoti30 commented on #53
@NISH1001 But i don't think mpv has kill option, we will have to get the process id and use kill to kill it.

[2019-01-09 14:58] deepjyoti30 commented on #53
@NISH1001 Can you please check if youtube playlists are working all right?
If you get an error then probably youtube has changed its class names and stuff. Need to fix it.
Please check.

[2019-01-09 15:19] NISH1001 commented on #53
@deepjyoti30 So, I tried some things. Killing also didn't work since MPV processes are spawned on each iteration (for each song). Handling keyboard interrupt also didn't work.

[2019-01-09 15:22] deepjyoti30 commented on #53
@NISH1001 We can move to using mpv module, that would be better in some ways and we can add some workarounds that way.

[2019-01-10 13:51] NISH1001 commented on #51
I am going to close this issue until we have some stable and good good base. I am planning to not add any new features (myself and PRs) till code is refactored. This song suggestion might be an experimental feature which can be made in another branch.

[2019-01-10 13:52] #51 closed

[2019-01-14 16:58] deepjyoti30 opened #57 "pl-end and pl-start issues"
@NISH1001 The new algo seems to be creating issues.
For youtube its not working when i passed just pl-start. For a list of 37 songs, i passed pl-start to 7 and turns out the final list consists of 35 songs and it starts from the actual beginnig of the playlist. Have you faced any such issues too? I think we need to fix this before the release.

I also faced an issue with billboard chart.
```playx

[2019-01-14 23:04] NISH1001 commented on #57
I will check this out. Thanks. It was working for `Playxlist` local playlist.

[2019-01-15 08:51] NISH1001 commented on #57
@deepjyoti30  there is also a problem while extracting playlist contents from youtube playlist. Seems like issue with the div. Perhaps, the div name got changed?

[2019-01-15 09:31] NISH1001 commented on #57
@deepjyoti30 regarding pl-start, here's my result:
**default**
![default](https://user-images.githubusercontent.com/4786694/51171228-6b143600-18d8-11e9-99ee-f60c81897348.png)

**with start/end**
![pl-start-end](https://user-images.githubusercontent.com/4786694/51171239-75363480-18d8-11e9-9270-1d503b08eadf.png)

[2019-01-15 09:31] deepjyoti30 commented on #57
@NISH1001 I guess you just fixed the issue.

[2019-01-15 09:32] NISH1001 commented on #57
@deepjyoti30 , it seems playx is not able to pickup **youtube url**.
When I pass in the youtube url (not a playlist), it parses the argument as if it were the song name.
Can you look into that?

[2019-01-15 09:34] NISH1001 commented on #57
@deepjyoti30  I was having this issue some days ago. Whenever I gave playx a youtube url, it was treating it as a song name. And hence, sometimes wrong results were shown.

[2019-01-15 09:34] deepjyoti30 commented on #57
@NISH1001 Also if we pass just pl-start its not working.
It should work if we pass just pl-start or just pl-end too. Please look into that.

[2019-01-15 09:35] NISH1001 commented on #57
Okay. I will look into the start/end. Can you look into the youtube url thing? Playx is treating youtube url as a song name itself. It should be parsed directly without querying to youtube search.

[2019-01-15 09:38] deepjyoti30 commented on #57
@NISH1001 I think it is working properly.
When an URL is passed the url is searched in youtube in order to get the title. We need the title to search the song locally.
Our way of getting the video title is searching youtube and getting the first result, that is why its working that way.

[2019-01-15 09:41] NISH1001 commented on #57
It's weird. Sometimes when giving a youtube url, it gave me wrong song.

[2019-01-15 09:42] deepjyoti30 commented on #57
@NISH1001 Gimme the URL, it might be some URL specific issue.

[2019-01-15 09:43] NISH1001 commented on #57
@deepjyoti30 https://www.youtube.com/watch?v=M6n-VvCcxTo

[2019-01-15 09:48] deepjyoti30 commented on #57
@NISH1001 We can do that for sure, let me add that.

[2019-01-15 09:54] NISH1001 commented on #57
@deepjyoti30 that was done few months back. No idea how it completely got eliminated now.

[2019-01-15 09:56] NISH1001 commented on #57
@deepjyoti30  there was `get_youtube_streams` in `playx/youtube.py` that should have done. However, in latest features, it isn't used. I am sure, it was being used some months back.

[2019-01-15 09:57] NISH1001 commented on #57
@deepjyoti30  there's `stream_from_url` function in `main.py`. Now it is not being used. Can you look into that? Because while introducing the playlist features, that code completely got cut off.

[2019-01-15 09:58] deepjyoti30 commented on #57
@NISH1001 ```get_youtube_streams``` is still used but it gives us the audio and video urls, but we need to get the title of the video. I think from the beginning we have been using this search way to get title, even for URL's

[2019-01-15 09:59] deepjyoti30 commented on #57
@NISH1001 ```stream_from_url``` is now defined in player.py and is used. The one in main.py is just dead code.

[2019-01-15 10:21] deepjyoti30 commented on #57
@NISH1001 Made a PR. Issue should be fixed now.

[2019-01-15 12:24] deepjyoti30 opened #60 "Extract suggestions from youtube page"
@NISH1001 We can also extract song suggestions from the youtube page. Youtube always suggests songs based on the playing song and the users playing history, seems like we can scrap the page and use this recommendations.
What do you think?

[2019-01-15 13:32] NISH1001 commented on #60
For now, you can create a function in `playx/youtube.py` similar as:
[code]

This can be a simple experimental feature and very modular.
Like we can call the function anywhere.
So, if you are working, let's just create a function to do so...
I will think of a way to hook in that function somewhere later.

For now, keep on experimenting on this. Maybe I will create a branch name "experiments" and w

[2019-01-15 13:34] NISH1001 commented on #60
Remember, we don't want to do "hacky" stuff. Just work with modular functions (or objects) that is not dependent to anything. Personally, I like to make components more "functional" without any [side-effects](https://en.wikipedia.org/wiki/Side_effect_(computer_science)).

So, the suggestion can work like this:
[code]

This way, later we can think on plugging in the component as we like.

[2019-01-15 13:35] NISH1001 commented on #60
@deepjyoti30  I have created a branch named **experiments**. Let's work on experimental features there and then do the brainstorming and discussions. That way **develop** will not be hampered much by buggy experiments/features.

[2019-01-18 06:18] #57 closed

[2019-01-31 01:02] #60 closed

[2019-06-04 11:18] deepjyoti30 opened #64 "[Discussion]Playlist caching"
Hey, been using playx for a while and it really irritates me that I have to put the playlist URL each time. I think we can start caching the playlist names with song names.

Like we can save the playlists as .txt files in the ```~/.playx/``` directory with a new subdir named playlist. The name of the file will be simply ```[name of the playlsit].txt``` and it will have all the songs that are in th

[2019-06-04 15:14] NISH1001 commented on #64
Sure. Man. I will be very glad about that. I was also getting irritated but since I am busy right now on another project so couldn't spend time on this. Can you also cache the youtube URl to video title? That will also be good.  :)

[2019-06-06 07:40] deepjyoti30 commented on #64
PR #65 added.

[2019-06-06 07:40] #64 closed

[2019-06-06 07:49] deepjyoti30 opened #66 "Improve search."
Hey @NISH1001 I was working on the playlist caching thing and I realized, instead of saving the songs with the name, we can add the URL to the name, that way we can actually make playx offline.

Like we would not have to extract the name of the song if an URL is passed, we can simply search with the URL.

Alternately, if you think saving songs with URL's would make them look ugly or anything, we c

[2019-06-06 08:33] deepjyoti30 opened #67 "Suggest related songs"
Hey I tried selenium with chrome to scrap the youtube page and get the related songs list. It worked.
I had tried it earlier but it never was able to get the resulst

Check this [code](https://paste.ofcode.org/psgg2PSQgxdnFLZT5tKnSi).

I'm thinking of using the above algo to run in the bg while playx plays the current song and once the songs are extracted, we will start playing them.

Do share you

[2019-06-07 05:19] NISH1001 commented on #67
Okay. I will check the script and get back to this thread. Does it fetch multiple suggestions? Or just simply "next video"? Then how can we make it dynamic while our songs are being played (if it's pre-fetched)?

[2019-06-07 05:25] NISH1001 commented on #67
## Another thing
If we do this, then we can create argument to `autoplaylist` thing. Something like:

For using youtube scraped information
[code]

For frequency-based local songs
[code]

[2019-06-07 05:32] NISH1001 commented on #66
Yeah. I thought it was clumsy to get internet every time a URL is passed. We can just simple JSON with keys as url and values as song names. That way lookup will be in constant time.

I think we should do this. Something like `urls.json`:
[code]

[2019-06-07 09:49] deepjyoti30 commented on #67
The script gets all the related songs available. We can run the script in the bg after the song starts playing and then add all these songs to yhe current playing list.

Yes, we can do thag ```--auto``` thing.

[2019-06-07 09:52] deepjyoti30 commented on #66
Yes, I can actually make that, will make a PR soon 😅

[2019-06-08 09:04] deepjyoti30 commented on #66
@NISH1001 Made PR #65

[2019-06-08 09:04] #66 closed

[2019-06-09 08:30] NISH1001 commented on #67
So I tried the script. Does the work. Let's create a module to do it seamlessly without affecting existing features.

[2019-06-09 18:31] deepjyoti30 commented on #67
I can make the module, lets see how to add it to playx.

[2019-06-09 18:51] deepjyoti30 commented on #67
@NISH1001 I think we should consider the extracted list as a playlist.

So everytime we will have a list, we will just pass it as a playlist to the player just after the song is done playing. This, I think is the easiest way to do it without making changes to the ```Player``` class.

Also we can have the song fetching script as a seperate file, that will have a simple function, that will return a

[2019-06-11 07:55] NISH1001 opened #69 "[Bug] Playlist Issue"
Whenever I try to play a youtube playlist which has already been seen (played) previously, no songs are played with following message:

[code]

If I remove the playlist file from the `~/.playx/playlist/`, and try to play the playlist, it works. But then playing again won't work, thus rendering the above message.

@deepjyoti30

[2019-06-11 08:20] deepjyoti30 commented on #69
@NISH1001 Whoa, it was working all right. Now even I'm facing it, lemme check the issue.

[2019-06-11 08:27] deepjyoti30 commented on #69
@NISH1001 Is it happening with just one playlist? Can you share the playlist file. I faced the issue because in the playlist the type was saved was ```youtub``` instead of ```youtube``` and so the player was not able to recognize the type.

[2019-06-11 08:30] NISH1001 commented on #69
@deepjyoti30  the type is `.playlist` for me. Let me check the code and trace the bug...

[2019-06-11 08:38] deepjyoti30 commented on #69
@NISH1001 Seriously? The type is .playlist?? Thats really weird.

[2019-06-11 08:49] deepjyoti30 commented on #69
@NISH1001 Its fixed I think, there was a typo. I had placed a \n in the wrong place.

[2019-06-11 10:24] NISH1001 commented on #69
I still see the bug... Can you try this playlist:
https://www.youtube.com/playlist?list=PL7lIdOom98_M9ycpymxtlBl2KylZwPmih

[2019-06-11 10:36] NISH1001 commented on #69
@deepjyoti30 It's weird. Now it's working.

[2019-06-11 10:55] NISH1001 commented on #67
@deepjyoti30  will it be possible to suggest related songs indefinitely until **ctrl+c**? That way we can listen to songs infinitely.

[2019-06-11 14:37] deepjyoti30 commented on #69
@NISH1001 I tried that playlist, its working all right. Remove the file and use the playlist again, it should be fixed, probably the issue was because of my typo.
You can close the issue now.

[2019-06-11 14:42] deepjyoti30 commented on #67
@NISH1001 Actually the number of songs extracted varies everytime because of the internet(not exactly sure).
What I think is when the JS script is run by selenium, it depends how fast the internet is and accordingly number of songs are fetched.
If you use this in different songs, you'll notice in some songs, a lot of songs are suggested.

[2019-06-11 14:53] #69 closed

[2019-06-11 14:54] NISH1001 commented on #67
@deepjyoti30 so, it will be dynamic, right? More like getting the next song using the current song.

[2019-06-15 07:31] deepjyoti30 commented on #67
Yes, thats what it will be, but I'm not sure how good that would be.

Lets say we start with a song name ```Better``` and we extract the song ```Talk``` from the suggestions.
And then we use the song ```Talk``` to extract a song named ```Saturday Nights```
But there'd be a real possibility that the next song we find is ```Better``` itself.

This is just for 3 songs, we are talking about an infinit

[2019-06-15 13:50] NISH1001 commented on #67
So we have to ignore repeated songs I guess for now. (More like a cheap trick :D).
Is there any chance the next "video" in youtube will be "not a music" thing if current video being played is a song? My concern is that.
If something is being played and the next recommendation being video other than song will suck.

[2019-06-26 15:42] NISH1001 opened #71 "Exact Rip-Off of This Project"
While browsing through Reddit, I found that there is another project which is a mere copy of this:
That project can be found here:
https://github.com/roshancode/layx/

The Reddit post can be found here:
https://www.reddit.com/r/coolgithubprojects/comments/c3in51/layx_search_and_play_any_song_from_terminal/

@deepjyoti30 This seems so funny and disturbing at the same time.

[2019-06-26 15:46] deepjyoti30 commented on #71
It feels like he's doing this just for fun. My mind is blown 😂😂😂😂😂😂😂.

And I'm offended he didn't even format the README properly.

[2019-06-26 15:49] NISH1001 commented on #71
Yeah! Just look at that issue part where the original link is here...

[2019-06-26 15:53] deepjyoti30 commented on #71
Its good our project is getting famous, maybe we should tweet and show people and warn them, so that people like me don't get offended 😅

[2019-06-26 15:55] deepjyoti30 commented on #67
@NISH1001 While I was testing the app, sometimes it does suggest movies.

About the dynamic song suggestion, I can work on that but I'm a bit busy lately. Finally in second year of college. Will probably make a PR when I can.

[2019-06-26 15:55] NISH1001 commented on #71
@deepjyoti30 I just tweeted about it. Maybe you should too and make people aware of this. Although originally I didn't think much about licensing, hence used MIT which is less-restrictive.

[2019-06-26 15:59] NISH1001 commented on #67
Sure thing!

Same here. I have been busy on other things at the moment that I have to prioritize them over playx for now. Been working on an animation engine currently. So, I am switching between this and that intermittently.

[2019-06-27 06:29] #71 closed

[2019-06-30 03:09] #67 closed

[2019-06-30 11:37] NISH1001 opened #72 "Testing New Markov-chain based autoplaylist"
@deepjyoti30  I have added a new feature for auto-playlist. Can you give it a test?
I have implemented simple Markov-chain based song generation from the log. If you find any problems, please let me know on this in this thread.

[2019-06-30 11:41] deepjyoti30 commented on #72
@NISH1001 Sure, will check soon!

[2019-07-01 13:30] deepjyoti30 commented on #72
@NISH1001 Checked it, working fine for me.

[2019-07-01 14:18] NISH1001 commented on #72
@deepjyoti30 Cool. I will close this issue then.

[2019-07-01 14:18] #72 closed

[2019-07-01 15:04] NISH1001 commented on #32
@deepjyoti30  I will close this issue for now.

[2019-07-01 15:04] #32 closed

[2019-07-07 09:14] deepjyoti30 opened #73 "[Feature discussion] Add option to save list of related songs."
I was using playx to play a song and I have to say that related songs passed are actually really good. And while listening all I could think was there should be an option to save this list.

We can add an option the playlist is done playing to ask the user if to save the list. This is important because without listening to the list, we can't say if it would be good.
We can also keep another option

[2019-07-07 14:27] NISH1001 commented on #73
Instead of a user prompt, doing it automatically will be better. Let's not think of user prompt since no one should be interrupted in their musical experience. :)
But, saving the related songs sounds good. Let's do it and experiment on this.

[2019-07-07 14:33] NISH1001 commented on #73
I am trying to work on adding more ML-Based recommendations using the logs. Maybe I will try factorization machines if mood kicks in... So, these recommendation features will be neat AF... :)

[2019-07-08 06:04] NISH1001 commented on #73
I was thinking of making this suggestion thing a part of the auto playlist instead of a separate argument. That will make it consistent for the user.

[2019-07-08 10:40] deepjyoti30 commented on #73
You can add an ML based option but I think we should keep the one extracting from yt too, its like yt is doing all the hard work and we're just scraping. Anyway, I'll add an option that will svae the related songs as a playlist.

Later you can maybe modify that and make it better.

[2019-09-09 03:35] #73 closed

[2019-09-09 03:37] NISH1001 opened #76 "Issue With Deleted (or Blocked) Videos in YouTube"
@deepjyoti30
It seems sometimes this is an issue while playing from a playlist. There could be some videos that are removed, still `playx` tries ti find the information and fail inevitably.
I think we have to do some concrete checks while crawling the video.

I am opening this issue just in case we sort this out. :)

[2019-09-09 03:56] deepjyoti30 commented on #76
Can you share the playlist with blocked videos? I would need it to test.
I will try to fix it soon.

[2019-09-09 04:17] NISH1001 commented on #76
@deepjyoti30
I was trying to stream this playlis using playxt:
https://www.youtube.com/playlist?list=PL7E877BD82279D581

And `youtube-dl` threw an error with a message that it failed to fetch any information.

[2019-09-12 04:31] NISH1001 commented on #76
@deepjyoti30 I will only be able to debug this in a few days. Did you find anything interesting regarding the "Deleted"? I saw the PR and seems like you have compared with direct string **Deleted Videos**.
For me, in the playlist information given by the crawler, it's not the same string. That is the reason (I guess) it's not really working on my side. I think we have to find a workaround for this

[2019-09-12 06:07] deepjyoti30 commented on #76
I thought I would have to put some other check but I figured checking the name for ```deleted videos``` is the simplest.
I will look for some other way to implement it then.

[2019-09-15 11:30] #76 closed

[2019-10-21 05:56] igaurab opened #80 "Add Temporary cache to handle terminated downloads"
Whenever there is an interrupted download the incomplete download file remains in the cache.

We can check whether the file is completely downloaded by  comparing with  the content length meta data provided by the response as `meta_data = u.info()['Content-Length']`

[2019-10-21 15:31] NISH1001 commented on #80
Yeah. I agree. Sometimes **incomplete** downloads are irritating.

Maybe we can do it through `urls.json` log file too by using some kind of flag there. Have to check on this...

[2019-10-22 04:44] deepjyoti30 commented on #80
@NISH1001 Lemme look into it. I'll make a PR once it's fixed.

[2019-10-22 06:38] deepjyoti30 commented on #80
@NISH1001  Fixed the issue in #81 .

@igaurab You can try my forked version until Nishan merges the request. After the request is merge, this issue will be closed.

Cheers!

[2019-10-28 01:46] NISH1001 commented on #80
@deepjyoti30 @igaurab I will check this out in a few days (health issue). Thanks.

[2019-10-28 04:12] deepjyoti30 commented on #80
@NISH1001 Get Well Soon!

[2019-10-30 05:32] nishontan opened #82 "Play compiled playlist and skip songs in cache"
**I would like to skip songs already present in the cache.**

I have a different use case. I expect `playx chill music` to play https://www.youtube.com/watch?v=wlsdMpnDBn8 but with `audio full lyrics` always appended to the query. It pulls a specific song. When I was rather looking for a compiled playlist
[code]
Anyway I added a way to skip the keywords
[code]
This worked for me. However, a new pr

[2019-10-30 05:58] NISH1001 commented on #82
Regarding this, did you try `--no-cache` option so that when `--skip` is used, it will not append the keywords and also avoid the cache?

[2019-10-30 06:04] NISH1001 commented on #82
Also, if I am not wrong, it seems you'd want `playx chill music` or similar actions to render new songs (or compiled playlist/video) whenever it is called, right? If that's so, then we have to dig a deeper on how `playx` actually works:
- crawl youtube for search of keywords
- use the first link in the search list
- fetch the video link
- download the audio in parallel with playing

So, if we want

[2019-10-30 06:07] nishontan commented on #82
I don't think that would work for me.
My understanding is you scrapped `https://www.youtube.com/results?search_query=chill+playlist` and took the first item and played it and added everything else in a list as a related song.

It would play the same song everytime when just `--no-cache` is used.
However, I was looking for it to able to play maybe an nth item on the list rather than the hardcoded f

[2019-10-30 06:14] NISH1001 commented on #82
Yes. Maybe trying with a random item on the list should do fine, but then that would add another complexity of checking (and re-checking) if it's a repeated item or not.

Another (possible workaround?) option is to use local playlist in the format `.playx` and put in the links to the local playlist (say **chill.playx**) and play it using `playx chill.playx`

[2019-10-30 08:10] nishontan commented on #82
It works for me! Here's my implementation. I think this issue can be closed now @NISH1001
Thank you.

[code]

[2019-10-30 08:10] #82 closed

[2019-11-06 15:39] deepjyoti30 opened #83 "Push app to aur."
Hey @NISH1001 , I think a lot of our userbase are mostly arch based users so we can push the app to aur.

Tell me what you think, I can package and push it.

[2019-11-06 16:01] deepjyoti30 opened #84 "[Feature request]Shuffle option for playlists"
Hey @NISH1001 , been thinking that shuffle is an important part, especially now that we have added caching. Shall we add an option for that. Do tell me what you think.

[2019-11-07 13:55] NISH1001 commented on #83
Hey. I am sorry I haven't reviewed the PRs and issues. I will do it this weekend.
Yeah. We can definitely push to AUR... :)

[2019-11-07 15:29] deepjyoti30 commented on #83
@NISH1001 It's okay, I know you were sick.

I'll push playx to soon then.

[2019-11-08 01:35] NISH1001 commented on #84
Yes. Sure. Sounds good. Was planning to add that to the to-do list. I also wanted that personally.

[2019-11-08 01:36] NISH1001 commented on #84
Also, I was planning to add a repeat option for a single song (not a playlist). Maybe we can do that. Another to-do list (from never-ending list :D)

[2019-11-08 02:03] deepjyoti30 commented on #84
@NISH1001 Don't worry, I'll add this features to plays and mark them done on the README 😁

[2019-11-08 02:45] NISH1001 commented on #84
Haha. Sure. I will check everything this Saturday. :)

[2019-11-08 03:22] deepjyoti30 commented on #84
@NISH1001 Also, I think we need to map search results with the passed search term. It happens a lot of times that the song we passed as argument had one word different and it searched the whole song all over again.

Eg
```playx beautiful soul```

So in this case if the song's whole name is ```beautiful soul khabar nehi``` then passing the above command will end up with a yt search each time, unles

[2019-11-08 05:06] deepjyoti30 commented on #83
@NISH1001 Pushed playx to aur. It uses the develop branch of this repo while installing, you can give it a try. The package name is ```python-playx```.

Also updated the README with details and the PR is available.

I am closing this issue because fixed in #81

[2019-11-08 05:06] #83 closed

[2019-11-09 04:00] deepjyoti30 commented on #84
Fixed in #81

[2019-11-09 04:00] #84 closed

[2019-11-09 04:01] deepjyoti30 commented on #80
Fixed in #81

[2019-11-09 04:05] NISH1001 commented on #80
@deepjyoti30 I think partial downloads aren't yet fully fixed. Tried experimenting with the songs. The song is still being played incompletely.

[2019-11-09 04:13] deepjyoti30 commented on #80
@NISH1001 I think that is because of the songs those were downloaded incompletely earlier. We can't check if those are completely downloaded or not because the new check that I added only works with the songs you play after addition of the feature.

It is something like this, if we try to play a song and its not found in cache then we add it to download and while downloading the temp file is used

[2019-11-09 04:22] NISH1001 commented on #80
So, I did the following actions:
- `playx playx https://www.youtube.com/watch?v=g7JQ0dM6VqE`
- playx will be able to log it to `partial_log`
- after 10 seconds of playing, i quit playx
- again tried playing the same url
- the incomplete song was being played

[2019-11-09 04:23] deepjyoti30 commented on #80
Can you check if the song is listed in ```partial_log```

[2019-11-09 04:28] NISH1001 commented on #80
Maybe it's due to the direct mapping of url to path from `urls.json`.

[2019-11-09 04:30] deepjyoti30 commented on #80
Yes, I think that is what's causing this issue. Because in order to resume the download it has to start streaming but before streaming we are replacing the stream URL with the local path. One fix is to update the ```urls.json``` after the song is done playing, not before.

[2019-11-09 04:34] NISH1001 commented on #80
yeah. That should do.
Another thing I was thinking is to add a `--clean-up` argument to fix all the broken urls.
Say we manually delete a song. `urls.json` still has the previous path (which now is not available). If we are able to do a clean up (with that option), then it will be good.
We can even update all the playlist with this option.

[2019-11-09 04:35] NISH1001 commented on #80
Regarding clean up, I will write a code in utility module. :)
For now you can fix that partial log stuff.

[2019-11-09 05:00] deepjyoti30 commented on #80
@NISH1001 I fixed the issue, you add that cleaning thing.

[2019-11-09 07:10] NISH1001 commented on #80
@deepjyoti30 Sure thing. Thanks.

[2019-11-09 11:05] deepjyoti30 opened #86 "[Feature Request] Add related song support for playlists."
Hey @NISH1001 , while I was listening to a playlist, I realized that we do not have support for playing related songs for playlists.

I think we can add that.

We can play related songs of each song present in the playlist and make a list of it and play. How does that sound to you?

[2019-11-10 02:38] NISH1001 commented on #80
@igaurab this feature is not added.
@deepjyoti30 thanks, man!

I am closing this issue now.

:)

[2019-11-10 02:39] #80 closed

[2019-11-10 02:42] NISH1001 commented on #86
On theory, that sounds good, but then from the user 's perspective, I think they just want to play only that playlist. Let's refrain from adding this feature for now. For a single song, it **makes** sense. But for a playlist, (from my view) it might not be better to add related songs. Perhaps, we can do later but let's refrain from doing that for now. :)

[2019-11-10 02:59] #86 closed

[2019-11-10 03:11] NISH1001 opened #87 "Sync Playlist Issue"
@deepjyoti30 I was trying to play this playlist `https://www.youtube.com/playlist?list=PLC063D3B9D014F694`. And I just discovered an issue with syncing the playlist while trying `--sync-playlist`. Plus the **blocked video** issue seems to be still persistent. I might have looked into this and fix but my exam is coming next week. So, I will not be able to do a good job on this.

[2019-11-10 03:14] deepjyoti30 commented on #87
@NISH1001 I have added a fix for blocked videos, let me check to see what the issue is.

[2019-11-10 03:17] NISH1001 commented on #87
@deepjyoti30 The next song in the playlist if blocked. So, playx just halts on that song.

[2019-11-10 03:17] NISH1001 commented on #87
[code]

[2019-11-10 03:18] deepjyoti30 commented on #87
Will add a quick fix, no worries.

[2019-11-10 04:13] deepjyoti30 commented on #87
@NISH1001 I have a fix for it but it makes the wait time longer. The video that you got the error in needs to be checked by extracting the page so I added a check using ```youtube-dl``` to see if the video is valid but that makes us wait a lot of time, let me try to see if there's some other way I can fix it, if not I'll push that.

[2019-11-10 06:22] deepjyoti30 commented on #87
Should be fixed in #88

[2019-11-15 03:33] NISH1001 opened #89 "youtube-dl "too many requests" issue"
@deepjyoti30 did you get similar type of issue?
`playx` was unable to play anything from the youtube today. Seems like the problem is with ytdl. youtube-dl is fully upgraded. However, the problem seems to persists.

Here's the output from the CLI:
[code]

Do let me know if it's in my side.

[2019-11-15 03:37] NISH1001 commented on #89
Seems like there's a thread [here](https://github.com/ytdl-org/youtube-dl/issues/21729) regarding this.

[2019-11-15 03:44] deepjyoti30 commented on #89
Hey @NISH1001 are you getting the error if you pass names too? I just playing by passing a song name and even related songs are playing all right.

[2019-11-15 03:49] deepjyoti30 commented on #89
@NISH1001 Looking at that thread you shared, seems like it's something specific to your machine. It's working all right for me.

[2019-11-15 04:31] NISH1001 commented on #89
@deepjyoti30 seems like my IP is banned. The solution is to use VPN i guess. Or wait for certain time.. I wonder what caused this. I was just using playx lol...

[2019-11-15 04:32] deepjyoti30 commented on #89
@NISH1001 Use a VPN

[2019-11-15 15:01] #89 closed

[2019-11-23 14:50] NISH1001 commented on #87
@deepjyoti30 there seems to be errors in the code with sync playlist. Can you try fixing that? Error came inside the code while running `--sync-pl` argument to playx.

[2019-11-23 14:52] deepjyoti30 commented on #87
@NISH1001 I'll try to fix those :+1:

[2019-11-23 14:53] NISH1001 commented on #87
Can you confirm if the errors are just in my device?
[code]

[2019-11-23 14:57] NISH1001 commented on #87
It seems there is a problem with parsing the file for playlist cache...

[2019-11-23 15:03] deepjyoti30 commented on #87
@NISH1001 Can you give me the data in the file that was being synced? I think the name of the playlist was probably written in the log.

[2019-11-23 15:06] NISH1001 commented on #87
@deepjyoti30 it seems there is a problem with the parser since the folder `playlist/` contains both type of files: one for playlist and one for related playlsit (this is json). Maybe that might be the problem? (Might not also be)

[2019-11-23 15:08] deepjyoti30 commented on #87
@NISH1001 We will be able to know that. I'll add a debug statement to log the playlist names and see which file is causing the error.

[2019-11-23 15:10] deepjyoti30 commented on #87
@NISH1001 Yes, I'm facing it too. I'll fix it soon.

[2019-11-23 15:12] NISH1001 commented on #87
@deepjyoti30 I think I found the cause for the problem. It also loads the json files which are bunch of **related playlist**. I bypassed that. Let me refactor this part and push it.

[2019-11-23 15:14] deepjyoti30 commented on #87
@NISH1001 You'll make the changes? I was already done. I'll skip then. But we do need to fix some other bugs. Will make a PR for that.

[2019-11-23 15:18] NISH1001 commented on #87
@deepjyoti30 Yeah. Just used glob to filter out the extensions. Actually, I am so used to with `os` and `glob` that I find the use of `Pathlib` burdensome. :D

[2019-11-23 15:26] #87 closed

[2020-01-11 15:36] NISH1001 opened #90 "Improved and Refactored Playlistcache"
@deepjyoti30 I have upgraded the caching of playlist using json schema. This is done to remove many nasty bugs I have encountered during the usage of cached playlist that stemmed from manual parser you had written (with all those character searches, indices and slices).

Can you try creating a simple (standalone) script to migrate old cache structure to the new one?
You can see the changes here:
h

[2020-01-11 15:40] NISH1001 commented on #90
Adding on the previous comment here, maybe something inside a `utils` module will be better. Or it can be another script `migration.py` which will be used independently for now (without having to run `setup.py`) so that whenever the script is invoked, it will try to convert old playlist-cache file to the new one as mentioned.

If this is successful, then only I will replace the old classes with th

[2020-01-11 15:43] NISH1001 commented on #90
@deepjyoti30  do let me know if you can create the migration script. If not, I will have to allocate another weekend to work on this too...

[2020-01-14 02:55] deepjyoti30 commented on #90
@NISH1001 Sorry about the late reply. I will work on the script this weekend, kinda busy this week.

I would love to work on that script so don't worry about it, I'll do it. I'll take a look at the commits ASAP.

[2020-01-14 04:11] NISH1001 commented on #90
@deepjyoti30 no worries. There are other bugs in my list for which I will be making issues. I have been busy too. So, thought we should prioritize our works to fix these nasty (and subtle) bugs for playx as we are using it heavily.

[2020-01-16 13:38] deepjyoti30 commented on #90
@NISH1001 I think even though we are changing the structure of the file, we should keep the extension as ```playlist```. That would help differing them from the related playlists.

[2020-01-16 14:04] NISH1001 commented on #90
@deepjyoti30 that is implied by the folder name itself.

[2020-01-16 14:05] deepjyoti30 commented on #90
@NISH1001 I added the migrate function to the ```playlistcache``` file. For now, you'll have to try it by changing the name yourself.

I think, later we can just convert all the ```.playlist``` files by passing them through a for loop to this function.

[2020-01-16 14:06] deepjyoti30 commented on #90
@NISH1001  About the extension. I meant we also have playlists that are saved by the related playlists. And earlier those were ```.json``` files and the other ones were ```.playlist```.

If we make both of em ```.json``` then while looking for cached files there will be errors

[2020-01-16 14:10] NISH1001 commented on #90
@deepjyoti30 okay. that sounds legit. I haven't looked into related playlists though. I might work on this during coming weekend (if possible). Can you send a PR for that conversion utility so that I'd be able to review and integrate? (but then I will only be working during this weekend)

[2020-01-26 03:49] NISH1001 commented on #90
I am closing this for time being.

[2020-01-26 03:49] #90 closed

[2020-02-08 12:38] AyushRawal opened #92 "Inappropriate search result"
I have noticed that sometimes it plays the song completely irrelevant to what is asked for.
For example
![image](https://user-images.githubusercontent.com/32910415/74085348-3902e280-4a9e-11ea-81f4-cb2aec700c68.png)

[2020-02-08 12:44] deepjyoti30 commented on #92
Can you give the logs present in ```~/.playx/```

For the time being you can try passing more than just the song name.

For eg: ```playx how long <singer name>```

[2020-02-08 13:55] AyushRawal commented on #92
Yeah that seems to work

Here is the log file :

[log.txt](https://github.com/NISH1001/playx/files/4174308/log.txt)

[2020-02-10 01:53] NISH1001 commented on #92
Sorry for hooking up into this conversation late, but has the issue been resolved? If a query is vague playx will not give an "accurate" result. Better add the artist's name as well in every query.

[2020-02-10 01:57] deepjyoti30 commented on #92
@NISH1001 It's been resolved temporarily, but seems like we can make some fixes for that?!

[2020-02-10 04:06] NISH1001 commented on #92
@deepjyoti30 This made me realize that we also need to fetch metadata regarding any song (haven't given a deep thought on this TBH). I was also thinking of adding a regex based search for playing songs. Say:

[code]
This will play all those songs having the term "pink" and "floyd".
Been busy lately with grad schools and other things, so this might take time for me to fix few issues. Till then, can

[2020-02-10 04:09] NISH1001 opened #93 "Feature Request: Add term-based search"
I was thinking of adding a regex-based (term-based) search for playing songs. Say:

[code]

This will play all those songs having the term "pink" and "floyd".
For now, this might only be applicable for local songs (without fetching from the internet).

@deepjyoti30 What do you think of this?

[2020-02-10 04:09] #92 closed

[2020-02-10 08:54] deepjyoti30 commented on #93
@NISH1001  Seems like a neat addition. I can work on it and make a PR soon if you want.

What do you say? And yeah, you're right, we'll have to limit it to the local songs for the time being.

[2020-02-10 08:55] deepjyoti30 commented on #92
@NISH1001 I am always glad to fix issues related  to ```playx```, it's special for me.

[2020-02-10 12:01] NISH1001 commented on #93
@deepjyoti30 Sure. But don't overdo it. Keep it simple. Maybe adding another function to string utils will do fine. There's already a function to fetch all the song names in the cache. So, just using python's map-reduce will do fine.

[2020-02-10 12:03] NISH1001 commented on #93
There is `list_mp3` function that gives all the songs in the cache. So, maybe just reducing those names based on the terms provided will do fine (no overhead..only another flag and  a function in string utils)?

[2020-02-10 15:17] NISH1001 commented on #93
@deepjyoti30 I have added a basic implementation for this feature. [Here's](https://github.com/NISH1001/playx/commit/b11eee326849515386d603d41643855c12faf96e) the commit log.

Do give it a try and see if there are any issues. This is a rough implementation based on my need right now.

[2020-02-10 15:52] deepjyoti30 commented on #93
@NISH1001 Looked through the commit, will try using it ASAP.

[2020-02-11 01:36] NISH1001 commented on #93
So, this feature seems to be one of the dopest ones in playx. Haha. It seems to do the job by creating a playlist based on the search terms.

[2020-02-17 15:17] deepjyoti30 commented on #93
@NISH1001 Sorry, I haven't been able to check it sooner.

I tried with the following

```playx -rsearch local train```

and got this error

[code]

I also tried with other terms, same error.

Are you facing it too?? I can try looking into it if you want!

[2020-02-17 15:39] NISH1001 commented on #93
@deepjyoti30 I haven't had issue till now. Can you trace the bug (if any)?

[2020-02-17 15:43] deepjyoti30 commented on #93
Seems like I'm getting this bug even if I try to play any simple song. Might be something I screwed up. Lemme see

[2020-02-18 16:39] deepjyoti30 commented on #93
@NISH1001 Seems like I found the issue. Since we moved to the ```PlaylistCache2``` class that you introduced, we started considering the cached playlists as ```json``` rather than the ```.playlist``` ones.

Which I think I had mentioned earlier that it would cause conflicts since the ```related``` files are saved as json.

I happen to have many ```related_**.json``` files which are being worked on

[2020-02-18 16:43] deepjyoti30 commented on #93
Also, just checked, it works all right if we move to ```PlaylistCache``` from ```PlaylistCache2```.

Do you want me to make the required changes and make a PR?

[2020-02-18 16:44] NISH1001 commented on #93
So, you are suggesting to just rename files as ".playlist" instead of `json`, right?

[2020-02-18 17:01] deepjyoti30 commented on #93
Yes. We can keep the format as you changed it in the recent commit but just change the extension from ```json``` to ```playlist```.

[2020-02-18 17:13] NISH1001 commented on #93
Okay. Sounds good. Do send a PR. I will have a look. For now, I haven't used related playlist much. So, didn't know if there was any issue.

[2020-02-19 05:29] deepjyoti30 commented on #93
@NISH1001 Made a PR. #94 should fix it.

[2020-02-23 04:09] #93 closed

[2020-02-23 06:38] NISH1001 opened #95 "Update: I have used youtube-dl to fetch playlist information"
@deepjyoti30 Can you test the `--sync-pl` portion if this update breaks anything.
[This](https://github.com/NISH1001/playx/commit/48cd9c522238ffe60365b4ded2a298b98a2ac565) commit marks the changes.

The previous algorithm we wrote only fetched the first 100 songs from the playlist. Beyond that, we would have to use selenium to simulate scrolling and such. That would have been a bummer and buggy.
S

[2020-02-23 06:42] NISH1001 opened #96 "Feature Request: Temporarily Disable Logging to Files"
@deepjyoti30 I know our current logger works pretty well. But there are few issues with it. The debug mode doesn't seem to give me any output in the console (not sure if it's with me or for everyone).

Can you please have a look at loguru and see if we can seamlessly use it instead of our own?
https://github.com/Delgan/loguru

I have been using loguru for other projects and production servers too.

[2020-02-23 08:29] deepjyoti30 commented on #95
@NISH1001 I'll look into that ASAP.

[2020-02-23 08:31] deepjyoti30 commented on #96
Last time I used it in DEBUG mode it worked well, let me see if it'll be easier to move to loguru.

One thing that we need from the logger is simultaneous output to both the file as well as stdout which the python logger wasn't providing and thus I had to write this one instead.

[2020-02-23 10:48] NISH1001 commented on #96
@deepjyoti30 I think I got this. Let me try. loguru can meet our requirements. Did a few test in custom scripts where output is being redirected to both file and standard output. I will update this thread accordingly.

[2020-02-23 10:51] deepjyoti30 commented on #96
@NISH1001 In case you are busy, do tell me. I'm free today.

[2020-02-23 10:54] NISH1001 commented on #96
Sure. No worries. I am free today haha. So, I am refactoring this logging too. I will surely let you know if I am done with it.

[2020-02-23 11:10] deepjyoti30 commented on #95
@NISH1001 Checked it. Working awesome.

Also, while I was using it, I felt like we don't have an option to list the cached playlists.

Do you think that would be a good but simple addition.

The currently cached playslists are saved in the ```~/.playx/playlist/``` dir but it also stores a lot of related playlists, so I just thought it would be a neat addition. Just listing out all the cached playl

[2020-02-23 12:57] NISH1001 commented on #95
@deepjyoti30 Sure thing. Just write a simple function to list the `title`, `url` and `type` for now.

[2020-02-23 12:58] NISH1001 commented on #96
@deepjyoti30 I have added loguru in a separate branch `use-loguru`. Can you test it?

[2020-02-23 13:10] NISH1001 commented on #96
@deepjyoti30 Is there a feature in the logger you implemented where we don't want to dump to file but print to the console? I think using loguru is a bummer for refactoring. I might not use loguru for now.
Please, do let me know about this feature. I want to use logger to print to stdout but not write to file.
This can be done by just using a `print` wherever I need. But is there a way to turn log

[2020-02-23 13:24] deepjyoti30 commented on #96
I think the feature you mentioned can be added. I can make a PR in a while, it'll be a simple implementation.

[2020-02-23 13:43] deepjyoti30 commented on #96
@NISH1001 I made a PR #97 . Do check it.

I feel like we should have an option to change the log levels etc directly from the commandline. I have thought about that earlier but since we are making objects of the same class in so many files, it's not feasible to just add an option.

I think we can do something like making the logger read from a file where there would be default values and if the us

[2020-02-23 13:47] NISH1001 commented on #96
@deepjyoti30 We should make `Logger` class singleton and then use only a single object. That way we might be able to intantiate only in main. Also to know about which module is calling the methods like `info`, `debug`, `error`, we can make use of `inspect` module that can give us the name of the caller. That way we can do it properly without having to create logger object everywhere. Can you try t

[2020-02-23 13:50] deepjyoti30 commented on #96
I will try to add that, maybe today but soon enough.

I'll make a PR when I'm done testing it and everything.

Cheers

[2020-02-24 01:52] NISH1001 commented on #96
@deepjyoti30 So, about using singleton:
Here's what I think:
- initialize logger only from `main.py`
- Use dynamic binding to get caller module's name dynamically
- So, for every logger.info(), logger.debug(), etc, we don't have to create object per modules.

So, how can we get caller's name?
This can be done by making use of `inspect` module itself and then getting the name from the stack.
For fu

[2020-02-24 02:04] NISH1001 commented on #96
This might do the trick to know which module is calling the logger's function:
[code]

[2020-02-24 02:11] deepjyoti30 commented on #96
@NISH1001 I think using a metaclass would be a bettee option. I was just reading about it a bit and it seems like it's better than usinf a singleton.

Read [this](https://stackoverflow.com/questions/100003/what-are-metaclasses-in-python)

[2020-02-24 04:21] NISH1001 commented on #96
But then we only need a single instance of the `Logger` class. So, metaclass is only able to define certain property in a class. Anyway, do make it singleton. That will be much better. You can however use meta to attach certain properties to logger itself.

[2020-02-24 04:31] NISH1001 commented on #96
Also, anyway we have to use that inspect module to know the caller's name to be able to log from where the log is generated.

[2020-02-24 05:03] deepjyoti30 commented on #96
Yeah, regarding the filename, I'll do something about that but what I want to do first is make the logger like, it can be called once from the main with all the args and after that, whenever the logger will be called in other modules, it'll have the same args set.

So I thought in that case we can consider using a Metaclass.

So that whenever we call the class it returns an already made object tha

[2020-02-24 05:10] NISH1001 commented on #96
Yes. That's what singletons are!

In main, we will initialize/setup the logger. Sounds good enough. Do send a PR and I will have a look into this too. Few things running in my head regarding this so that we don't even have to get logger object everywhere.

[2020-02-25 14:51] deepjyoti30 commented on #96
@NISH1001 I've found a way to get what we wanted without even using singleton.

I was experimenting a bit with using a singleton but it was causing a lot of unwanted things as well so I implemented the fix in the Logger class itself.

The level is not changed once set by the initializing call.

That is, I'm keeping a variable that's checking if it's the first call to the logger, if it is then it s

[2020-02-25 15:08] deepjyoti30 commented on #96
@NISH1001 Seems like I found an even better way.

When the logger class is called it stores the current instance being made.

Then there is a method which when called updates the ```level``` of each of the instances and everything works as we need it. Seems good so far. Will make a PR when I'll be satisfied everything is working.

[2020-03-07 08:50] #96 closed

[2020-03-07 08:50] #95 closed

[2020-03-07 11:17] deepjyoti30 opened #99 "Rearrange the arguments into groups"
@NISH1001 I've been thinking we can arrange the different kinds of arguments into different groups so that it becomes more user friendly.

What say?? I am currently adding the option to list all the cached playlists as we talked about it, I can add these as well.

[2020-03-07 15:19] NISH1001 commented on #99
Can you provide an example so that I would have a clear idea?

[2020-03-07 15:26] deepjyoti30 commented on #99
@NISH1001 If you do ```playx --help``` you can see all the other arguments are seperate and the ```logger``` arguments are shown seperately with a ```Logger``` on top.

I want to do something like that for ```Playlists```.

The only difference will be when help will be called, it will show all the playlist related arguments below the ```Playlists``` part.

It's like organizing the arguments into d

[2020-03-07 15:38] NISH1001 commented on #99
Okay. In that sense, the grouped argument should be something like this:

`playx --logger` should be able to accept arguments like `--list-level`, `--disable-file`, etc. I think that's how grouped arguments work like any other CLI tools.
For now, `playx --logger` doesn't recognize it as commands. If it was a sub-command or group, then it should show help message for that specific group.

I can onl

[2020-03-07 15:41] NISH1001 commented on #99
Even if what you said is for help message, can you please try to look into sub-command. Adding that for `--logger` command would be pretty useful too. And for playlist too.

[2020-03-07 15:47] deepjyoti30 commented on #99
@NISH1001 I have noticed that. I can look around about that. But I think sub commands will only be useful with logger. With playlists it will be just an extra addition of that would make the overall command unnecessarily large.

[2020-03-07 15:51] NISH1001 commented on #99
@deepjyoti30 I think so too. We can have logger as sub-command instead. That'd be more concise than having normal "3" arguments.
Let's do it for logger. BTW, it's working great. :)

[2020-03-07 16:01] deepjyoti30 commented on #99
@NISH1001 I will make a PR with the changes soon. Also, I will add playlist as a group so the messages appear better.

Also, glad the logger is working great.

[2020-03-07 16:24] deepjyoti30 commented on #99
@NISH1001 This is how the updated help will look like if we make ```logger``` a subcommand.

[code]

And on running ```playx logger --help```

[code]

[2020-03-07 16:26] deepjyoti30 commented on #99
@NISH1001 Wait, but subcommands breaks the following command

```playx tum mile reprise -d logger --level nana```

The following is shown

[code]

[2020-03-07 16:33] deepjyoti30 commented on #99
@NISH1001 Do tell me your thoughts on this. Seems like it won't be worth the changes.

Tell me what you want to do, if you want I will make a PR tomorrow.

[2020-03-08 02:53] NISH1001 commented on #99
@deepjyoti30 seems like sub-commands will add more complications to the CLI.Let it be. Let's not add sub-commands for now. It will surely brick the CLI...

[2020-03-12 05:29] #99 closed

[2020-03-18 15:06] kanav99 opened #102 "Exposing the API"
Hi there!

Nice work! Do you plan to expose the API? I am making an app where I just need the youtube link of the song and wrote a short script

[code]

Do you plan to maintain these two functions? i.e. will my script always work no matter what changes you make to playx?

[2020-03-18 15:12] NISH1001 commented on #102
Hi.

First, yes we will try to maintain that interface. At least that was the plan from the very beginning regarding those two functions. However, since playx is still in constant development with fixes here and there, I will not guarantee with 100% certainty if we are going to keep that.

But, since those functions are pretty much concrete in its use-cases, most likely we will never touch them or

[2020-03-18 15:18] kanav99 commented on #102
Okay! Thank you so much! For now I will fix the version of playx, but would love to see new features!

[2020-03-18 15:21] NISH1001 commented on #102
@kanav99 No problem. You can, for now, presume those 2 interfaces won't change.

If any issues (features you want to be added) in playx, please do let us know.

[2020-03-18 15:23] kanav99 commented on #102
Sure!

[2020-03-18 15:26] #102 closed

[2020-03-23 02:45] NISH1001 opened #104 "Bug: Playlist being played instead of help message when no argument is supplied"
There seems to be a bug in the argument parser. When I just hit `playx` without any argument supplied, a playlist will be played. I was expecting a help message to be shown.

Maybe it's the problem with logic in the `playx()` function of `main.py`. Maybe it's picking of an empty string as a playlist?

@deepjyoti30  can you please look into that?

[Here's](https://i.imgur.com/Kd9mtPa.jpg) the scree

[2020-03-23 02:47] deepjyoti30 commented on #104
@NISH1001 I will look into that, seems odd though.

[2020-03-23 02:47] NISH1001 commented on #104
@deepjyoti30 Yeah. I was playing with bash completion for playx and found this bug.

[2020-03-23 03:27] deepjyoti30 commented on #104
@NISH1001 It's weird, I just checked and it is showing the help message in my case.

[Heres](https://i.imgur.com/fMcxMSy.png) the screenshot.

[2020-03-23 03:38] NISH1001 commented on #104
There's definitely a bug somewhere in there. I will have a look at that this afternoon. Meanwhile you can if you are free.

[2020-03-23 03:40] NISH1001 commented on #104
@deepjyoti30 Okay. I found the bug. It seems there's a playlist with an empty title (which is weird because in youtube, it's not empty). Hence, it matched the playlist with empty string.

https://i.imgur.com/2fGWzpA.jpg

[2020-03-23 03:43] deepjyoti30 commented on #104
@NISH1001 Why don't you check the youtube URL in your logs, you might be able to find out why the playlist name is empty.

[2020-03-23 03:44] NISH1001 commented on #104
@deepjyoti30 Also one thing. Can you please group the playlist section in help message too? The argument related to playlist are scattered in help message. Meanwhile I will debug the bugs.

[2020-03-23 03:46] deepjyoti30 commented on #104
@NISH1001 That's what I was asking you a few days ago when I raised #99 . Anyway I will do that.

[2020-03-23 03:50] NISH1001 commented on #104
@deepjyoti30 Maybe I had misunderstood. Maybe I wanted sub-commands.
So, no sub-commands for now. Just displaying in help message. Sub-command would break things.

[2020-03-23 03:51] deepjyoti30 commented on #104
@NISH1001 Sub commands were probably breaking things, so I'll group the commands.

[2020-03-23 03:51] NISH1001 commented on #104
For now this playlist bug stems from empty playlist name. The log has the proper name but inside `../playx/playlist/` directory, the playlist json is just `-youtube.playlist`. I will have a close look into this.

[2020-03-23 03:53] NISH1001 commented on #104
Sure thing @deepjyoti30 . Thanks. Something I wanted to try in playx. Stay tuned.

[2020-03-23 03:57] NISH1001 commented on #104
@deepjyoti30 Also one last thing, do format the code using [black](https://github.com/psf/black). I have been using it for a few months now. It's way better than other formatter. I hope that's not inconvenient for you.

[2020-03-23 04:50] #104 closed

[2020-04-06 10:31] deepjyoti30 opened #107 "Changes to make it more efficient to fetch data."
Hey @NISH1001 , while going through the code, I felt like a lot of stuff were being done more than once.

Let's say we need the title of a song, in the same request we can also get the URL and other streaming related data (using youtube-dl) but we have different functions for those things. I agree a lot of those stuff was added by me but I think where possible we should start making the changes.

[2020-04-06 13:10] NISH1001 commented on #107
Yeah. There's so many redundant things at this point which I had felt long time ago too. Perhaps, we have to discuss this on details... Like which components are replicated..and how we are going to make them efficient and such. Sorry that I have been busy lately. But can we do it over the weekend? Or maybe you can create a rough sketch (in the mind or some notes) on where we need the code to be op

[2020-04-06 14:52] deepjyoti30 commented on #107
Let's see what we can do. I can note down the functions that are redundant and I can think of ways to make it all less messed up.

[2020-04-07 00:28] NISH1001 commented on #107
If I were to have infinite time (and energy), I'd probably re-structure playx from scratch. Haha.

[2020-04-27 19:41] talentlessguy opened #108 "Include numpy as dependency in AUR package"
currently this happens:

[code]

if installed with `yay -S playx`

[2020-04-27 19:44] talentlessguy commented on #108
and when installing `numpy`, we get this:

[code]

[2020-04-28 01:15] NISH1001 commented on #108
@talentlessguy are you able to install successfully using `setup.py`?

[2020-04-28 09:32] talentlessguy commented on #108
@NISH1001 I just installed missing deps so I didn't use setup.py

I think the PKGBUILD file should be edited with deps so it will work flawlessly from the start

[2020-04-28 09:36] NISH1001 commented on #108
@talentlessguy Thanks for letting us know. We will try to fix that soon.

[2020-04-30 03:32] #108 closed

[2020-05-01 18:18] deepjyoti30 commented on #108
@NISH1001 Sorry, been busy this days on a hackathon project. I admit, I'm the maintainer of the playx package and I'm supposed to keep everything updated. I'm working on it right now.

[2020-05-01 18:32] deepjyoti30 opened #109 "[Request] Please start releasing version releases"
Hey @NISH1001 while I was updating the AUR package, I couldn't help but notice that we don't have any releases of playx and AUR build from the latest commits itself.

I understand that this app hasn't reached that stable state, but I think it's better to keep releases, so that user's don't install broken versions, since we keep updating the app with various things.

Also, another thing, just thoug

[2020-05-02 00:51] NISH1001 commented on #109
@deepjyoti30 Yeah. Doing a stable release has been on the to-do for a very long time. But, there are few bugs I have noticed recently, especially with the related playlist. When I run playx....there are times cached songs won't be played. And sometimes, related songs won't be played and playx just exists doing nothing.

Do you know how we can dynamically add `--version` to argument since we have t

[2020-05-02 15:57] NISH1001 opened #110 "playx unable to play any new songs"
Weirdly, I tried playing a new song. playx just skipped the song and started fetching related ones. And those one are also skipped. Looks like an issue with path.

@deepjyoti30 can you see if there's an issue with your end?

Here's the log for this specific part:
[code]

[2020-05-02 16:49] NISH1001 commented on #110
The problem might be with stream url. It seems youtube-dl is throwing forbidden error underneath. Hence, downloading fails in the cache.

[2020-05-03 06:31] deepjyoti30 commented on #110
@NISH1001 I'll try to take a look into that.

[2020-05-03 06:34] deepjyoti30 commented on #109
@NISH1001 I can try to make the ```--versiion``` dynamic but I think most developers make it dynamic the other way around. Like the ```setup.py``` version is fetched from the version of main.

But I think we can do something like keeping a var named ```VERSION``` and it will be present like in the ```__init__.py``` file and the scripts would both fetch from it.

About the bugs, I will try to list

[2020-05-03 06:53] NISH1001 commented on #110
I tested with many links, youtube-dl isn't giving me any valid stream url. Not sure if it's the problem on my side (maybe blocked?). But can you confirm?

[2020-05-03 07:00] deepjyoti30 commented on #110
@NISH1001 Just tried, happening with me as well, if it tries to stream the song is skipped.

Weirdly, the related songs are working, for me it's using ytmusic.

[2020-05-03 07:06] deepjyoti30 commented on #110
@NISH1001 Just checked, the issue is with the stream URL.

[2020-05-03 07:20] deepjyoti30 commented on #109
@NISH1001 About making the ```version``` dynamic, I just read [this](https://packaging.python.org/guides/single-sourcing-package-version/) and I think the best way we can implement it would be to keep a dedicated ```__version__.py``` file in the ```playx``` dir and from that file we will read the value to different files like the ```setup.py``` and ```main.py```

[2020-05-03 07:43] NISH1001 commented on #109
Okay. This works. I will push it shortly.

[2020-05-03 07:51] NISH1001 commented on #110
I have update the youtube-dl. It's the latest version. Still getting the error.

[2020-05-03 07:53] NISH1001 commented on #110
@deepjyoti30 So, they have the new update rolled out today. Last night there were not updates. Seems like it's working now.

[2020-05-03 07:54] #110 closed

[2020-05-03 08:05] NISH1001 commented on #109
@deepjyoti30 Let's do a version release coming weekend (Sunday, perhaps). I hope it's fine to roll-out the release since playx is working fine (except few times due to character encoding in the title).

[2020-05-03 08:07] deepjyoti30 commented on #109
@NISH1001 Sounds good, we can use it for the coming weekend and see if anything would need improvements.

[2020-05-03 08:50] NISH1001 commented on #109
I am gonna see if I can handle few errors smoothly like the one with stream-url and such so that we could throw a relevant info.

[2020-05-10 06:02] deepjyoti30 commented on #109
Hey @NISH1001 , the weekend is here. What about the release?

[2020-05-10 07:38] NISH1001 commented on #109
I wasn't able to test much. But there aren't any significant bugs I have encountered. I think we could do release. I think the current `1.5.2` is good enough.

[2020-05-10 07:39] NISH1001 commented on #109
I will merge them to master and release for now.

[2020-05-10 07:40] NISH1001 commented on #109
@deepjyoti30  Or is there anything you'd like to fix?

[2020-05-10 07:45] deepjyoti30 commented on #109
@NISH1001 I did use it a few times and I did not get any bugs.

I think once we release a version, we should share it in places like r/unixporn and other linux oriented communities in Reddit etc to get more users.

[2020-05-10 07:46] NISH1001 commented on #109
@deepjyoti30 Sure thing. I will merge to master and tag the current version.

[2020-05-10 07:58] NISH1001 commented on #109
@deepjyoti30 [here](https://github.com/NISH1001/playx/releases/tag/v1.5.2-approximate-void)
I hope the naming convention works fine for you... :D

[2020-05-10 08:01] deepjyoti30 commented on #109
@NISH1001 It's nice.!

[2020-05-10 08:05] NISH1001 commented on #109
@deepjyoti30 I think you can share it (if you don't mind sharing) on subs in the Reddit. But codebase is spaghetti. We should nevertheless embrace that. :D And I am reluctant to refactoring and optimizing for at a few months (for now).

[2020-05-10 08:07] deepjyoti30 commented on #109
@NISH1001 I was just thinking about that. I will share on reddit. I'm thinking of creating a screenrecord and sharing it, that gets more users.

[2020-05-10 08:09] NISH1001 commented on #109
Yeah. Please do that. We could update the gif too. :) I have added **Releases** section in README in dev branch. So, we could update any documentation in there.

[2020-05-10 08:11] deepjyoti30 commented on #109
@NISH1001 I'll make a PR with the updated GIF soon. I'll do that later today.

[2020-05-10 08:13] NISH1001 commented on #109
Sure thing. I am experimenting on graph embeddings as well to have a robust auto playlist than existing markov-based. That might make it as another feature in a few months. :)

[2020-05-10 08:13] #109 closed

[2020-05-10 08:14] NISH1001 commented on #107
@deepjyoti30 I am closing this for now. In case we refactor in future, let's open this issue.

[2020-05-10 08:15] #107 closed

[2020-05-23 17:57] dreaddymck opened #112 "Support for rss feeds"
Any plans on adding support for rss feeds?

[2020-05-24 05:39] deepjyoti30 commented on #112
@dreaddymck Can you elaborate a bit on what you mean by RSS feeds? Maybe give us some examples??

[2020-05-24 12:10] ubitux opened #113 "Traceback with hot-100"
Just tried what's in the `README`:

[code]

[2020-05-24 12:11] ubitux opened #114 "`--auto` fails if cache is empty"
Trying out what's in the `README` again with no configuration/cache (no `~/.playx`):

[code]

[2020-05-24 12:20] NISH1001 commented on #114
This is because for auto playlist, there should be songs in the case. The playlist is generated using markov chains. I will handle the error. Thanks for letting know.

[2020-05-25 08:19] deepjyoti30 commented on #113
Hey @ubitux I made a PR for this bug and it's fixed now. @NISH1001 will probably look into it and merge it soon.

Thanks for pointing that out.

[2020-05-25 12:54] NISH1001 commented on #112
I think there are RSS feeds that stream music. But let's not add support for that right now since only a few might actually get benefitted (personally I am not).

[2020-05-25 12:55] NISH1001 commented on #112
@dreaddymck Can you shed light on this? Any specific feeds we can look into so that we might get some direction about that (just for the sake of it).

[2020-05-25 14:29] dreaddymck commented on #112
@NISH1001 is correct but some of us still use RSS, especially for podcasts.

Freakonomics example: https://www.omnycontent.com/d/playlist/aaea4e69-af51-495e-afc9-a9760146922b/14a43378-edb2-49be-8511-ab0d000a7030/d1b9612f-bb1b-4b85-9c0c-ab0d004ab37a/podcast.rss

[2020-05-26 02:19] NISH1001 commented on #114
Now, the errors are handled accordingly. I am going to close this issue.

[2020-05-26 02:19] #114 closed, assigned to nobody

[2020-05-26 02:19] NISH1001 commented on #113
@deepjyoti30 @ubitux Merged the PR. It's handled now.

[2020-05-26 02:19] #113 closed, assigned to nobody

[2020-05-26 09:40] mgielda opened #117 "Feature request: Ability to use Spotify / YT Music subscriptions"
First of all, thanks for the cool project.

I was wondering if it is possible to allow streaming music from the popular streaming services instead, by providing your login data somehow / doing proper auth using those services auth providers.

Most of the desktop streaming apps are absolute memory hogs and quite buggy; also the playlist formats are not portable. Having a playx playlist which would

[2020-05-26 13:33] NISH1001 commented on #117
@mgielda
Thank you for the request. But it's a bit tricky to have an authentication layer. In the long run, as the `playx` philosophy is to be the out-of-the-box music assistant, we might add these services. But currently, I don't want to add this. I know it'd be one of the valuable additions but it's a bit tricky; for example getting to know the total number of requests Spotify API could handle a

[2020-05-28 15:04] deepjyoti30 commented on #117
@NISH1001 I have used ```spotipy``` before but I can say that considering how much ```playx``` is dependent on YouTube, it would be a lot of work.

It's like we will have start from scratch with the Spotify API and then combine both the YouTube and it which I think would be a lot of work.

Also @mgielda Sorry to say but YTMusic doesn't have an public use API like Spotify's so I guess it's nearly i

[2020-05-29 01:12] cerealfordinner opened #118 "playx on Mac OS"
I apologize in advance because I'm not the most high level user when it comes to this kind of stuff. I went ahead and cloned the package and install python3 pip3 MPV and chromium as well as the requirements.txt file using pip3.

I installed python using brew which I'm assuming isn't the issue.

playx
`Traceback (most recent call last):
  File "/usr/local/bin/playx", line 5, in <module>
    from pk

[2020-05-29 01:34] NISH1001 commented on #118
Is that python version 2 in mac OS?

[2020-05-29 01:51] NISH1001 commented on #117
@deepjyoti30 I concur.
@mgielda at this point, it's a bit tricky since the whole codebase is messy (and hacky). I'll add this to To-Do list for now.

[2020-05-29 01:54] NISH1001 commented on #112
@dreaddymck thanks for the information. But we might not do RSS anytime soon for now (a bit tricky in the codebase since we're solely dependent on YouTube right now...)

[2020-05-29 02:27] #112 closed, assigned to nobody

[2020-05-29 16:35] mgielda commented on #117
Thanks for the feedback! This is very good info.

What about this: https://www.reddit.com/r/YoutubeMusic/comments/fk788q/ytmusicapi_an_unofficial_python_api_client_for/

?

Spotipy looks great but I love playx's simple CLI - I assume at some point it would be awesome to have something like a playx -> spotipy/ytmusicapi interface where playx would be more "the seamless/vendor neutral CLI experience

[2020-05-31 16:35] cerealfordinner commented on #118
I guess i have both versions of python on this laptop
`cerealfordinner$ python --version
Python 2.7.10`
`cerealfordinner$ python3 --version
Python 3.7.7`

[2020-05-31 16:38] cerealfordinner commented on #118
I actually resolved it, i guess i needed to install the setup.py specifying python3.

`cerealfordinner$ python3 setup.py install`

I can get it to play some songs, but I can't seem to get it to play a Spotify playlist.

`Brandons-MacBook-Pro:~ cerealfordinner$ playx -a https://open.spotify.com/playlist/791k58GG7V0XEaIVgLtgb7
[Playlist]: Spotify Playlist passed.
Traceback (most recent call last):

[2020-06-01 00:57] NISH1001 commented on #118
Glad that you were able to install it..
Can you share the log from `~/.playx/logs/log.cat`?

[2020-06-01 06:01] deepjyoti30 commented on #118
@NISH1001 Seems like playx is by default trying to run using Python 2.7, one reason might be he installed using pip for python2 instead of ```pip3```.

[2020-06-05 06:38] NISH1001 commented on #117
@mgielda Thanks for the reference to YTMusicApi. It's sleek. Currently, we're using `youtube-dl` and some custom parser to fetch information. I will close this issue for now. But in the future, if time and place (and mood) resonate, might re-open. :)
Few things in mind to improve playx but been lately busy with other works. So, it might take some time to experiment on this.

[2020-06-05 06:38] #117 closed, assigned to nobody

[2020-06-05 06:41] NISH1001 commented on #118
First, the `playx -a` only works if there's cache since it uses markov-chain based generation.

Second, there might be an issue with Spotify parser. Have to look. @deepjyoti30 are you able to run this playlist (https://open.spotify.com/playlist/791k58GG7V0XEaIVgLtgb7) ?

[2020-06-05 06:44] deepjyoti30 commented on #118
@NISH1001 Lemme see, I do think I found an issue few days ago with the Spotify parser, I'll look into it.

Update: Just  checked, there's some bug with the spotify parse, I'll look into it.

[2020-06-05 06:55] NISH1001 commented on #118
I thought it was an issue with some region thing that rendered empty playlist.

[2020-06-05 06:57] deepjyoti30 commented on #118
@NISH1001 should be fixed in #119 . I explained it there how the issue was because of a variable name.

[2020-06-05 06:59] NISH1001 opened #120 "TODO: Test Cases"
Just a todo thread for test cases. This has been bugging me for a while. We can't even do some functional testing because of highly superimposed components. I think integration testing can be done but have to figure out a way to do this properly.

Few tests we can do are:
- crawl, and download songs (this can be done by temporarily downloading songs and deleting them)
- can create a temporary test

[2020-06-05 07:03] NISH1001 commented on #118
@deepjyoti30 Still seeing the same issue. Not sure if this is due to spotify region-based blocks. I have to see.

[2020-06-05 07:24] #118 closed, assigned to nobody

[2020-06-05 07:42] deepjyoti30 commented on #120
@NISH1001 That sounds great.

I think we can have like a dry run, in which case all the fetching and everything is done just that the songs are not played.

We can also add some fixed URL's for each parser that the parser will try to parse when we run the tests and we will get the results. For the time being it seems like that would be the easiest way to go?

[2020-06-16 01:38] NISH1001 opened #121 "Webdriver not working"
Past few days, it seems like I am unable to run related playlist. I haven't looked into the issue in-depth but it's due to the chrome driver issue. Probably, something got updated and it broke the selenium part.

Have to look into this to make the error more verbose, plus finding a way to update the driver accordingly.

[2020-06-18 05:23] deepjyoti30 commented on #121
Hey @NISH1001 I haven't faced any issue like this. It might be ocurring in the fallback method that you implemented for the regions that do not have YT Music yet.

[2020-10-07 21:57] 173duprot opened #122 "Feature Suggestion: A permanent favorites cache"

[2020-10-07 22:04] #122 closed, assigned to nobody

[2020-10-07 22:36] 173duprot opened #123 "Issue with the cli"
I spent about 20 minutes trying too get this playx too work after I Downloaded it from the AUR, but it wasn't playing anything.
It turns out that you have too put link in quotes like this: **"music link"** too get it too do anything.
Looking at the example GIF, im guessing that's not supposed too be the way it works, just wanted too give you guys heads up.

[2020-10-07 22:39] 173duprot commented on #123
It also is unable too search for songs, it just returns [utility]: Playing [] and quits immediately
[code]

[2020-10-07 22:48] 173duprot commented on #123
Here's the log.cat if you need it
[code]

[2020-10-09 04:28] deepjyoti30 commented on #123
@sketchsnipe Thanks for the log. It might be that something is broken in `playx` that have been unnoticed by us. I will look into the issue.

May I know if you tried the `playx-git` package or the `playx` package?

[2020-10-09 04:52] deepjyoti30 commented on #123
@sketchsnipe Fixed the issue. It was occuring due the search logic for YouTube that `playx`. Previously `playx` was scraping the page in order to get the results which was broken due to changes in the page structure of YouTube.

Fixed the issue by moving to a module in order to get the search results. I will make a PR shortly. You can try installing my fork manually in order to get the fix ASAP.

[2020-10-09 05:19] NISH1001 commented on #123
Hey, @deepjyoti30 thanks a lot. I have been really really really busy with all these covid-19 things, lockdown and work. So, I haven't been able to look into any issue in `playx`. There was a sense of guilt too for not actually doing anything in `playx`.

Also @sketchsnipe @deepjyoti30 if any PR please provide so. I will try my best to look (but not hopefully). I think that's also the perk of **bu

[2020-10-09 05:20] deepjyoti30 commented on #123
@NISH1001 I understand. I thought you might be busy so I checked the issue. I have already fixed the issue and will make a PR soon. Just testing out the changes right now.

[2020-10-09 05:26] deepjyoti30 commented on #121
@NISH1001 Should be fixed in #124

[2020-10-09 18:48] 173duprot commented on #123
I can confirm, this pull request fixes the problem on my machine.
Though I have too ask, arn't there third party libraries that already handle all the youtube bs for you?

[2020-10-10 01:44] NISH1001 commented on #121
Okay thanks. I will check it out and try to merge ASAP.

[2020-10-10 01:45] NISH1001 commented on #123
@sketchsnipe  It seems @deepjyoti30 has now used another package [youtube-search](https://pypi.org/project/youtube-search/). I will test and try to merge soon.

[2020-10-10 01:57] NISH1001 commented on #121
@deepjyoti30 Turns out it was because of version issue with the webdriver. I guess we have to figure out a way to do that automatically. Also, this might be also creating a friction for any new user to run `playx`.

[2020-10-10 01:57] #121 closed, assigned to nobody

[2020-10-10 02:05] NISH1001 opened #125 "Figure out a way to automatically download/update webdriver"
This can be a standalone script that can be invoked irrespective of using `playx` or not. Later we might integrate it. But, I have to allocate a time to solve the issue.

[2020-10-10 03:01] #123 closed, assigned to nobody

[2020-10-14 03:59] deepjyoti30 commented on #121
@NISH1001 Were you able to fix it by updating the drivers? The issue I had was related songs weren't working but in my case it uses `YoutubeMusic` as compared to in your case where `Youtube` is used. Anyhow, the webdriver was working all right with `Youtube` in my case. I think `YoutubeMusic` issue still persists.

[2020-10-14 04:01] deepjyoti30 commented on #125
@NISH1001 So this script needs to be able to update the webdriver to the latest version?

We're using Chromium right? So a script that would basically update Chromium would suffice?

[2020-10-14 05:19] NISH1001 commented on #125
Ya. I was trying to write. But got bored easily. It can be a seemingly-simple  script (but might be complex too while parsing?) I guess. I think it can be downloaded directly from https://chromedriver.storage.googleapis.com/index.html.

What I have in my mind is something like this:
- check for current chromium version
- check for webdriver version
- if the webdriver version is lower, parse the in

[2020-10-14 05:21] NISH1001 commented on #121
@deepjyoti30 ya. It seems the version issue with the webdriver. Sometimes I find it boring to manually download the webdriver and put it into the path while doing some other tasks as it will require me to do some context switching of visiting the download page and download the zip, unzip and put into the desired path. That's why I opened the issue for feature enhancement haha...

https://github.co

[2020-10-14 05:22] NISH1001 commented on #125
Re: We could do something like
`playx --update webdriver` which invokes the download script.

So the script doesn't have to be be dependent on any modules within playx itself. Just an independent utility inside the source.

Something like that...

[2020-10-14 05:24] NISH1001 commented on #125
Also, probably there's already an external library/package to do that?

[2020-10-14 05:25] deepjyoti30 commented on #125
@NISH1001 During the first installation of  playx, isn't the webdriver installed automatically? So do you mean when chromium is updated the webdriver is not updated? And that is why we need to update the webdriver automatically because sometimes chromium gets udpated but the webdriver does not?

I have never had to do any updating from my side and I always update chromium through Arch's package ma

[2020-10-14 05:26] deepjyoti30 commented on #125
@NISH1001 I'll look around for a library. If there won't be one, I can make a simple script I guess based on the steps you've listed down.

Also `playx --update webdriver` seems like the way to go.

[2020-10-14 05:39] NISH1001 commented on #125
Thanks a lot @deepjyoti30 . I should figure out to allocate time for playx too I guess. Haven't really touched the codebase for many months. Haha.

[2020-10-24 09:44] NISH1001 opened #126 "Discussion: YouTube-dl has received a DMCA takedown from RIAA"
So, this HN post is trending. I wonder what nasty domino effect it will have on anything that uses youtube-dl

https://news.ycombinator.com/item?id=24872911

I will try to remove any examples here in a few days that link to copyrighted songs. This is a serious issue with deeper consequences... This is really concerning...

[2020-10-24 09:52] deepjyoti30 commented on #126
I understand that. However, according to some  sources, the notice given by RIAA was not a proper DMCA.

Check this article: https://techcrunch.com/2020/10/23/the-riaa-is-coming-for-the-youtube-downloaders/

Anyhow, I think it's for the good that you make those changes in the README. It seems like even `ytmdl`  will break incase `youtube-dl` breaks and that would be a lot of harm. Let's see what h

[2020-10-24 10:03] NISH1001 commented on #126
These things are always tricky. I'll grab coffee and dive in. Haha. They found the violation in the unit test code I guess...
Another counterclaim might be -- as pointed out somewhere -- they are using public API to access YT. So, it should have been alright. You never know... I also don't have much knowledge on that "legal" side of copyrights.

Anyway, this calls for re-watching Tom Scott's video

[2020-10-24 13:07] deepjyoti30 commented on #126
@NISH1001 Thanks for sharing that. As a lot of users are saying, the notice is nothing major and once they remove the copyrighted songs from the test cases, it should be all right.

You can check [this](https://www.reddit.com/r/programming/comments/jgub36/youtubedl_just_received_a_dmca_takedown_from_riaa/) reddit post.

Also there are already forks that are being updated so fingers crossed.

[This

[2020-10-28 12:28] #126 closed, assigned to nobody

[2020-10-30 19:38] Saul-Dickson opened #127 "Make playx configurable"
### The Problem

All over the playx `README.md` it says "by default" for the location of caches and logs, but nowhere does it say anything about changing these defaults. Looking at the source code, it can't. At least, not without changing the hardcoded paths in each file.

Why is not having these paths easily changeable such a problem? Well, for one, it's implied in the `-p` option that it's confi

[2020-10-31 02:36] NISH1001 commented on #127
@Saul-Dickson

My anti-argument over that is is that the HOME directory is the safest place to put the cache without having to go over privilege issues. (Of course, you could give some privilege to playx.) Plus, the most feasible one since it will be independent of any other paths.

But I totally agree with using the environment variables. Let me see if I can hook in those environment variables. (

[2020-10-31 04:03] deepjyoti30 commented on #127
@NISH1001 Another option would be to use the `~/.cache` directory instead? We can just create a `playx` directory inside it and store everything. While that could be the default, we should totaly give the user freedom to decide where the cache can be stored.

In terms of the env variables, it seems like going with a config file would be better because that would be, in a way, future proofing for o

[2020-10-31 07:59] Saul-Dickson commented on #127
Not really. `.config` `.cache` and `.local` are privilege free zones on most, if not all, distros. That, and the idea that storing these files in the home directory is the most "safe" something I disagree with. An annoying new folder to clutter the home directory, especially for a new user who doesn't really have any investment in the application, would put anyone off. When I first downloaded it,

[2020-10-31 08:33] NISH1001 commented on #127
@Saul-Dickson Sure!

I surely know how this work

(let me be egocentric right now as a long-standing Linux user with a narrative of **"been there done that"** in a lot of customizations and writing a lot of low-level things...)
Now, as someone who has obviously seen a lot of scripts making `~/.applicationname`, I digress. However, I agree that users should be able to customize the paths where thin

[2020-10-31 08:33] #127 closed, assigned to nobody

[2020-11-08 10:05] pspiagicw opened #128 "Option to have firefox as dependecy with Chromium."
Many people use firefox.It would be good to have a alternate dependecy with chromium.Like firefox.Or if possible drop the browser dependency

[2020-11-08 12:47] NISH1001 commented on #128
Hi,
Can you try changing the default driver in the code and see if it works or not. The last time I tried, the Firefox driver was causing issues (this coming from someone who uses Firefox as the default browser for a long time now). I will have to check if it works with new drivers or not.

Meanwhile...one possible change might be [here](https://github.com/NISH1001/playx/blob/develop/playx/playlis

[2020-11-16 04:10] #128 closed, assigned to nobody

[2021-03-04 16:48] NISH1001 opened #129 "Notice: I have stopped working on playx now"
At least for time being as I have some other priorities.